<%include file="header.html" />

<p>
  Three inputs are required by the PSF estimation algorithm:
<ul>
<li>s : the superresolution factor (1x,2x,3x,4x)</li>
<li>k : the kernel support sie (k x k pixels in the superresolved estimation, recommended  k = 4s+1</li>
<li>t : the least squares algorithm (ls, ls + thresholding, non-negative ls)
</ul>
<br><br>

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    Set the algorithm parameters and run the algorithm.
    <input type="hidden" name="key" value="${app.key}">
    <label for="s"><i>s</i>:</label>
    <select name="s" size="1">
        <option value="1">1x</option>
  	<option value="2">2x</option>
        <option value="3">3x</option>
        <option value="4">4x</option>
    </select> 

    <label for="k"><i>k</i>:</label>
    <input type="text" name="k" value="17" size="4" />

  <label for="t"><i>t</i>:</label>
    <select name="t" size="1">
        <option value="0">LS</option>
  	<option value="1">LS+TH</option>
        <option value="2">NNLS</option>
    </select> 

    <input type="submit" value="run" />
  </div>
</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" /> 
</div>

<%include file="footer.html" />


