<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />
// -->
</script>

<p>
  You can now choose the parameters and run the numerical scheme.
</p>

<form action="${app.base_url + 'grid'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
    <ol>
      <li>
        Select the normalized scale (at normalized scale R a disk of radius R
        disappears): 
        <p>
          <%
	     try:
                 smax = scale_r
                 if (step == '0') and (float(scale_r) > 8.0):
                     smax = '8.0'
                 elif (step == '200') and (float(scale_r) > 6.0):
                     smax = '6.0'
                 elif (step == '100') and (float(scale_r) > 3.0):
                     smax = '3.0'
                 elif (step == '80') and (float(scale_r) > 2.0):
                     smax = '2.0'
                 elif (step == '50') and (float(scale_r) > 1.5):
                     smax = '1.5'
             except:
                 smax = '1.0'
          %>

          <div style="float:left;padding-right:25px">
            Scale: <input type="text" style="font-family:monospace;text-align:right"
                          size="7" id="scale" name="scaleR" value="${smax}" />

          </div>
          <div id="slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
          <%
             slidermax = {'0':'8', '50':'1.5', '80':'2', '100':'3', '200':'6'}
             %>
          <script type="text/javascript">
            // Turn DIV slider into a slider linked to scale
            $(document).ready(function() 
            { createLinkedSlider('#scale', '#slider', 0.1, ${slidermax[step]}, 0.1); });
          </script>
          <div style="clear:both"> </div>
        </p>
        <!-- end of code for slider -->
      </li>
      <li>
        Run the algorithm...
        <ul>
          <li>
            on the whole image:
            <input type="submit" name="action" value="run" />
          </li>
          <li>
            or select a portion of the image using a grid (such a
            portion will be rescaled to 400x400 pixels before processing):
            <ol>
              <li>
                redraw the grid with a different step size: 
                <%
                   selected = {'0':'', '50':'', '80':'', '100':'', '200':''}
                   selected[step] = 'selected';
                   %>
                <select name="stepG">
                  <option value="0" ${selected['0']}>no grid (zoom 1x)</option>
                  <option value="50" ${selected['50']}>50 (zoom 8x)</option>
                  <option value="80" ${selected['80']}>80 (zoom 5x)</option>
                  <option value="100" ${selected['100']}>100 (zoom 4x)</option>
                  <option value="200" ${selected['200']}>200 (zoom 2x)</option>
                </select>
                <input type="submit" name="action" value="redraw" />
              </li>
              <li>
                and select the portion of the image by clicking:<br />
                %if grid:
                <input type="image" name=""
                       src="${app.work_url + 'input_grid.png'}" />
                %else:
                <img src="${app.work_url + 'input_0.png'}" />
                %endif
              </li>
            </ol>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</form>

<%include file="footer.html" />
