<%include file="header.html" />


<p>

  You can change the distance definition of the transformation or set the option to recenter the resulting distance transform.

</p>

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">

    <input type="hidden" name="key" value="${app.key}">

    <ul>
      <li><label for="m"><i>Choose the <font color="blue">distance</font> definition:</i></label>
        <ul>
          <li><input type="radio" name="distancedef" value="d4" checked> city block distance </li>
          <li><input type="radio" name="distancedef" value="d8" > chessboard distance </li>
          <li>
            <input type="radio" name="distancedef" value="ratio"> custom ratio
            <input type="text" name="ratio" value="1/2">
          </li>
          <li>
            <input type="radio" name="distancedef" value="sequence"> custom sequence
            <input type="text" name="sequence" value="1 2">
        </li>
        </ul>
        <li>
        <input type="checkbox" name="centered" value="centered" checked> Recenter distance transform </input></li>

    </ul>
    <BR>
    <input type="submit" value="run" />
  </div>
</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" />
</div>

<%include file="footer.html" />
