<%include file="header.html" />

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    The demo will show the descriptors and matches between two images returned by SURF.<br/>
Apply ORSA(validate epipolar geometry of the matches)?    <input type="checkbox" name="orsa" value="1" checked><br><br>
    <input type="hidden" name="key" value="${app.key}">
    <input type="submit" value="run SURF" />
  </div>
</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" /> 
  <img src="${app.work_url + 'input_1.png'}" alt="" /> 
</div>

<%include file="footer.html" />
