<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />

$(document).ready(function() 
{
    createLinkedSlider('#noiselevel', '#slider1', 1, 50, 1);
});
// -->
</script>

<form action="${app.base_url + 'wait'}" method="get">

<fieldset>
<div style="position:relative; width:6em; top:-1em; 
padding:.2em .5em; background-color:#ffffff; margin:0px">Parameters</div>

<input type="hidden" name="key" value="${app.key}" />
<table border="0" style="margin-left:2em;margin-right:0;text-align:right;background:none">
<tr><td>Noise level</td>
<td>
<div style="float:left">
<input type="text" style="font-family:monospace; text-align:right;"
size="7" id="noiselevel" name="noiselevel" value="${app.cfg['param']['noiselevel']}" />
</div>
<div id="slider1" style="float:left; width:32em; margin-left:1em; margin-top:4px; font-size:10pt;"></div>
</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
<td>Noise model</td>
<td style="text-align:left">
<input type="radio" id="noisemodel-gaussian" name="noisemodel" value="Gaussian" style="margin-left:0.5em" ${('','checked')[ app.cfg['param']['noisemodel'] == 'Gaussian' ]} /><label for="noisemodel-gaussian" />Gaussian</label>
<input type="radio" id="noisemodel-laplace" name="noisemodel" value="Laplace" style="margin-left:0.5em" ${('','checked')[ app.cfg['param']['noisemodel'] == 'Laplace' ]} /><label for="noisemodel-laplace" />Laplace</label>
<input type="radio" id="noisemodel-poisson" name="noisemodel" value="Poisson" style="margin-left:0.5em" ${('','checked')[ app.cfg['param']['noisemodel'] == 'Poisson' ]} /><label for="noisemodel-poisson" />Poisson</label>
</td>
</tr>
</table>

</fieldset>

<div style="clear:both; font-size:8pt">&nbsp;</div>

<p style="margin:0px"><a class="toggle" style="cursor:help" onclick="toggle('paramdetails');">Details</a></p>
<div style="display:none;border: #ccccff 1px solid;padding-left:1ex;padding-right:1ex" class="toggleable" id="paramdetails">
<p><b>&bull;&nbsp;Noise level.</b> The noise level specifies the standard deviation of the noise relative to the intensity range [0,255].</p>
<p><b>&bull;&nbsp;Noise model.</b> The noise model specifies the distribution of the noise to be Gaussian, Laplace, or Poisson.  Gaussian is a good choice in general.  Laplace is better suited for heavy tail distributions like salt-and-pepper and dark shot noise.  Poisson models low-light acquisition and roughly approximates multiplicative noise.</p>

<p><b>&bull;&nbsp;The algorithm can run in two different ways:</b></p>

<ol>
<li>&ldquo;<b>${app.default_param['action']}</b>&rdquo; directly denoises the selected image.  No noise is added to the image.  The noise level specifies the standard deviation of the noise present in the input image.</li>
<li>With &ldquo;<b>Add noise, then denoise</b>,&rdquo; noise is simulated, then the algorithm is applied to denoise the noisy image.</li>
</ol>

<p><b>&bull;&nbsp;Source code for this demo:</b>
<a href="http://www.ipol.im/pub/algo/g_tv_denoising/tvdenoise_20120429.zip">
zip</a>
<a href="http://www.ipol.im/pub/algo/g_tv_denoising/tvdenoise_20120429.tar.gz">
tar.gz</a></p>
</div>

<p style="clear:both;margin-bottom:5px">You can run the algorithm in two different ways.</p>
<div style="float:left; text-align:center; padding-left:30px; padding-right:25px">
    <input type="submit" name="action" value="${app.default_param['action']}" />
</div>
<div style="float:left;">
    <input type="submit" name="action" value="Add noise, then denoise" />
</div>


<div style="clear:both; font-size:8pt">&nbsp;</div>

    %if app.cfg['param']['x0'] == None or app.cfg['param']['y0'] == None:
        <p>Or you can run it after selecting a subimage by clicking two 
        opposite corners.</p>
        <p><input type="image" style="cursor:crosshair;" name=""
            src="${app.work_url + 'input_0.png'}" /></p>
    %elif app.cfg['param']['x'] == None or app.cfg['param']['y'] == None:
        <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
        <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
        <p>Please select the second corner of the subimage:</p>
        <p><input type="image" style="cursor:crosshair;" name=""
            src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" /></p>
    %else:
        <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
        <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
        <input type="hidden" name="x" value="${app.cfg['param']['x']}" />
        <input type="hidden" name="y" value="${app.cfg['param']['y']}" />
        <p>The algorithm will run on this selected subimage:</p>
        <img src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" alt="" />
    %endif
</form>


<%include file="footer.html" />
