# don't rewrite the deployed conf file
demo.conf

# ignore compiled Python code
*.pyc

# ignore the development flags
*.flag

# ignore source and binary files
*/*.tgz
*/*.tar.gz
*/bin

# ignore the thumbnails
*/data/input/*.__*__.png

# ignore the temporary files content
*/data/tmp/*/*
