# don't rewrite the deployed conf file
demo.conf

# ignore compiled Python code
*.pyc

# ignore the development flags
*.flag

# ignore source and binary files
app/*/*.tgz
app/*/*.tar.gz
app/*/*.zip
app/*/bin

# ignore the thumbnails
app/*/input/*.__*__.png

# ignore the temporary folder
app/*/tmp

#ignore backup files
*~

