# don't rewrite the deployed conf file
demo.conf

# ignore compiled Python code
*.pyc

# ignore the development flags
*.flag

# download, source and binary files
app/*/dl
app/*/src
app/*/bin
# build log
app/*/*.log

# archives
app/*/*.gz
app/*/*.tgz
app/*/*.zip

# temporary folder
app/*/tmp

# ignore the thumbnails
app/*/input/*.__*__.png

#ignore backup files
*~

