<%include file="header.html" />

<%include file="wait_info.html" />

<h2>Input Images</h2>
<div class="gallery" style="height: 1024px;">
  <ul class="index">
    <li>
      <a href="#">
	first input image
	<span>
%if 'norectif' in app.cfg['param']:
	  <img src="${app.work_url + 'H_input_0.png'}" />
%else:
	  <img src="${app.work_url + 'input_0.png'}" />
%endif
	</span>
      </a>
    </li>
    <li>
      <a href="#">
	second input image
	<span>
%if 'norectif' in app.cfg['param']:
	  <img src="${app.work_url + 'H_input_1.png'}" />
%else:
	  <img src="${app.work_url + 'input_1.png'}" />
%endif
	</span>
      </a>
    </li>
  </ul>
</div>

<%include file="footer.html" />
