<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />
// -->
</script>

<form action="${app.base_url + 'rectangle'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
    
    
    
    
    
    
 
        <br /> 
    

    <FONT SIZE=+1>**Simplest Color balance parameters:</FONT>    
    <br />  
    
    <p>
    Choose the percentage of pixels saturated to 0 (s1) and 255 (s2) and the the simplest Color balance (see <a href="https://edit.ipol.im/pub/algo/lmps_simplest_color_balance/">here for details</a>).<br />
    For example, if you choose s1=1% and s2=2% then the 1% darker pixels 
    will be saturated to 0, and the 2% brightest pixels 
    to 255. If s1=s2=0 the dynamic is stretched to [0,255] by an affine contrast change (without loss).
    </p> 
 
    
    
    <!-- code for slider (from Pascal Getreuer:  http://www.math.ucla.edu/~getreuer/jqslider.html -->
  <div style="float:left;padding-right:25px">
    s1: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s1_selector" name="s1" value="${s1}" />
</div>
<div id="sliderS1" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#s1_selector', '#sliderS1', 0.0, 20.0, 0.5); });
</script>
<div style="clear:both"> </div>

  <div style="float:left;padding-right:25px">
    s2: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s2_selector" name="s2" value="${s2}" />
</div>
<div id="sliderS2" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#s2_selector', '#sliderS2', 0.0, 20.0, 0.5); });
</script> 
    
<div style="clear:both"> </div>    

<!-- end of code for slider -->


 
    <br />  
    <br />
    <FONT SIZE=+1>**Columns noise or lines noise? </FONT>  
    <select name="pattern">
<%
selected = {"Columns":'', "Lines":''}
try:
    patternSel=pattern
    assert (patternSel != None)
except Exception:
    patternSel = "Columns"
selected[patternSel] = 'selected'
%>
%for s in selected.keys():
    <option value="${s}" ${selected[s]}>${s}</option>
%endfor

    </select>
 
 
 
 
 
 
 
 
    
    <p>
        <input type="submit" name="action" value="run" />
    <p/>     

%if x0 and y0 and x1 and y1:
    <input type="hidden" name="x0" value="${x0}">
    <input type="hidden" name="y0" value="${y0}">
    <input type="hidden" name="x" value="${x1}">
    <input type="hidden" name="y" value="${y1}">
    <p>
        <input type="submit" name="action" value="run" />
    <p/>
     <img src="${app.work_url + 'input_0.sel.png'}" />
%else:

    <p>
      Or you can run it after selecting a subimage 
      by clicking two opposite corners of the subimage.
    </p>
    
   

    
  %if x0 and y0:
    <input type="hidden" name="x0" value="${x0}">
    <input type="hidden" name="y0" value="${y0}">
    <input type="image" style="cursor:crosshair;" name=""
	   src="${app.work_url + 'input.png?xy=%i,%i' % (x0, y0)}" />
  %else:
    <input type="image" style="cursor:crosshair;" name=""
	   src="${app.work_url + 'input_0.png'}" />
  %endif
%endif




  </div>

</form>


<%include file="footer.html" />
