<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />
// -->
</script>


<h2>Algorithm Parameters</h2>
<p>
Choose the percentage of pixels saturated to 0 (s1) and 255 (s2).
For example, if you choose s1=1% and s2=2% then the 1% darker pixels 
in each channel will be saturated to 0, and the 2% brightest pixels 
to 255. If the algorithm is applied on the grey level, the algorithm 
guarantees that none of the channels will be saturated to 0 for more 
than s1 of pixels nor saturated to 255 for more than s2 of pixels. 
Moreover, the chrominance information of the original image 
will be preserved (the R/G/B ratios of the original colors will 
be preserved).

</p>
<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">

<!-- code for slider (from Pascal Getreuer:  http://www.math.ucla.edu/~getreuer/jqslider.html -->
<p>
  <div style="float:left;padding-right:25px">
    s1: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s1_selector" name="s1" value="${s1}" />
</div>
<div id="sliderS1" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#s1_selector', '#sliderS1', 0.0, 20.0, 0.1); });
</script>
<div style="clear:both"> </div>
</p>

<p>
  <div style="float:left;padding-right:25px">
    s2: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s2_selector" name="s2" value="${s2}" />
</div>
<div id="sliderS2" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#s2_selector', '#sliderS2', 0.0, 20.0, 0.1); });
</script>
<div style="clear:both"> </div>
</p>

<!-- end of code for slider -->


    <input type="submit" value="run" />
  </div>
</form>

<h2>Input Image</h2>

<img src="${app.work_url + 'input_0.png'}" alt="" /> 

<%include file="footer.html" />
