<%include file="header.html" />


<p>
<form action="${app.base_url + 'wait'}" method="get">
<input type="hidden" name="key" value="${app.key}">
<input type="submit" value="Run the algorithm on the whole image" />
</form>
or 
<form action="${app.base_url + 'select_subimage_first'}" method="get">
<input type="hidden" name="key" value="${app.key}">
<input type="submit" value="Select subimage" />
</form>
</p>

<ul>
% for input_url in input:
<img src="${input_url}" alt="" />
% endfor
</ul>

<%include file="footer.html" />
