<%include file="header-jquery.html" />

<script type="text/javascript"
src="http://demo.ipol.im/demo/js/createlinkedslider.js"></script>

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
%if 'dmin' in app.cfg['param']:
  Disparity range:
  <input type="text" name="dmin" value="${app.cfg['param']['dmin']}" size="3" />
  <input type="text" name="dmax" value="${app.cfg['param']['dmax']}" size="3" />
(<em>Last run</em>: [${app.cfg['param']['dmin']},${app.cfg['param']['dmax']}])
%else:
<p>
  Note: As a first step of this algorithm, a <a href='http://www.ipol.im/pub/algo/m_quasi_euclidean_epipolar_rectification/'>rectification algorithm</a> can be run to ensure the apparent motion is horizontal.<br />
  If you want to run the rectification step, click below: <br />
&nbsp;&nbsp;<input type="checkbox" name="rectif" value="rectif" /> Epipolar rectification
</p>
%endif
%if app.cfg['param']['k']!='auto' or app.cfg['param']['lambda']!='auto':
    <ul>
      <li> Occlusion cost K:
        <ul>
          <li><input id="radioK1" type="radio" name="autoK" value="True"
%if app.autoK:
 checked=""
%endif
 onclick="this.form.valK.disabled = this.checked"/> Automatic value</li>
          <li>
          <div style="float:left;">
            <input id="radioK2" type="radio" name="autoK" value="False"
%if not app.autoK:
 checked=""
%endif
 onclick="this.form.valK.disabled = this.form.autoK.checked"/> Manual value:
            <input type="text" style="font-family:monospace;margin-left:1em;" size="4" id="valK" name="valK" value="${app.cfg['param']['k']}" disabled/></div>
<!-- slider code: -->
<div id="valKslider" name="valKslider"
  onmousedown="radioK1.checked=false;radioK2.checked=true;radioK1.form.valK.disabled=radioK1.checked" style="width:300px;float:left;margin-left:1em;margin-top:10px;"></div>
<script type="text/javascript">
  $(document).ready(function() {
  createLinkedSlider('#valK', '#valKslider', 0, ${Kmax}, 0.5); });
</script>
<!-- end slider code -->
 (<em>Last run</em>: K=${app.cfg['param']['k']})
<div style="clear:both">&nbsp;</div>
</li>
        </ul>
      </li>
      <li> Smoothness cost &lambda;:
        <ul>
          <li><input id="radioL1" type="radio" name="autoL" value="True"
%if app.autoL:
 checked=""
%endif
 onclick="this.form.valL.disabled = this.checked"/> Automatic value</li>
          <li>
          <div style="float:left;">
            <input id="radioL2" type="radio" name="autoL" value="False"
%if not app.autoL:
 checked=""
%endif
 onclick="this.form.valL.disabled = this.form.autoL.checked"/> Manual value:
            <input type="text" style="font-family:monospace;margin-left:1em;" size="4" id="valL" name="valL" value="${app.cfg['param']['lambda']}" disabled/>
          </div>
<!-- slider code: -->
<div id="valLslider" name="valLslider"
  onmousedown="radioL1.checked=false;radioL2.checked=true;radioL1.form.valL.disabled=radioL1.checked" style="width:200px;float:left;margin-left:1em;margin-top:10px;"></div>
 (<em>Last run</em>: &lambda;=${app.cfg['param']['lambda']})
<script type="text/javascript">
  $(document).ready(function() {
  createLinkedSlider('#valL', '#valLslider', 0, ${Lmax}, 0.5); });
</script>
<!-- end slider code -->
      </li>
    </ul><br />
    <ul>
      <li>If the results look too noisy, increase &lambda;.</li>
      <li>If the results look too smooth, decrease &lambda;.</li>
      <li>If there are too many occluded pixels, increase K.</li>
      <li>If you change significantly the disparity range, it is advised to run with K and &lambda; set to 'automatic'</li>
    </ul>
%endif

    <input type="hidden" name="key" value="${app.key}" />
    <input type="submit" value="run" />
  </div>
</form>

<h2>Input</h2>

<div class="gallery" style="height: 1024px;">
  <ul class="index">
    <li>
      <a href="#">
	first image
	<span>
%if 'norectif' in app.cfg['param']:
	  <img src="${app.work_url + 'H_input_0.png'}" />
%else:
	  <img src="${app.work_url + 'input_0.png'}" />
%endif
	</span>
      </a>
    </li>
    <li>
      <a href="#">
	second image
	<span>
%if 'norectif' in app.cfg['param']:
	  <img src="${app.work_url + 'H_input_1.png'}" />
%else:
	  <img src="${app.work_url + 'input_1.png'}" />
%endif
	</span>
      </a>
    </li>
  </ul>
</div>
  
<%include file="footer.html" />
