<%include file="header.html" />

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
%if 'dmin' in app.cfg['param']:
  Disparity range:
  <input type="text" name="dmin" value="${app.cfg['param']['dmin']}" size="3" />
  <input type="text" name="dmax" value="${app.cfg['param']['dmax']}" size="3" />
%else:
<p>
  Note: As a first step of this algorithm, a <a href='http://www.ipol.im/pub/algo/m_quasi_euclidean_epipolar_rectification/'>rectification algorithm</a> will be run to ensure the apparent motion is horizontal.<br />
  If the images are already rectified and you want to skip the rectification step, click below: <br />
&nbsp;&nbsp;<input type="checkbox" name="norectif" value="norectif" /> No epipolar rectification
</p>
%endif
%if app.cfg['param']['k']!='auto' or app.cfg['param']['lambda']!='auto':
    <br />
    <label> Occlusion cost K = ${app.cfg['param']['k']} &#215;</label>
    <select name="K">
      %for _k in k_proposed:
      <option value="${_k}"
	      %if _k == "1":
	      selected="selected"
	      %endif
	      >${_k}</option>
      %endfor
    </select><br />
    <label> Smoothness cost &lambda; = ${app.cfg['param']['lambda']} &#215;</label>
    <select name="lambda">
      %for _l in l_proposed:
      <option value="${_l}"
	      %if _l == "1":
	      selected="selected"
	      %endif
	      >${_l}</option>
      %endfor
    </select>
    <ul>
      <li>If you change significantly the disparity range, it is advised to run with K and &lambda; set to 'auto'</li>
      <li>If results look too noisy try increasing &lambda;.</li>
      <li>If results look oversmoothed try decreasing &lambda;.</li>
      <li>If there are too many occluded pixels try increasing K.</li>
    </ul>
%endif

    <input type="hidden" name="key" value="${app.key}" />
    <input type="submit" value="run" />
  </div>
</form>

<h2>Input</h2>

<div class="gallery" style="height: 1024px;">
  <ul class="index">
    <li>
      <a href="#">
	first image
	<span>
%if 'norectif' in app.cfg['param']:
	  <img src="${app.work_url + 'H_input_0.png'}" />
%else:
	  <img src="${app.work_url + 'input_0.png'}" />
%endif
	</span>
      </a>
    </li>
    <li>
      <a href="#">
	second image
	<span>
%if 'norectif' in app.cfg['param']:
	  <img src="${app.work_url + 'H_input_1.png'}" />
%else:
	  <img src="${app.work_url + 'input_1.png'}" />
%endif
	</span>
      </a>
    </li>
  </ul>
</div>
  
<%include file="footer.html" />
