%if inputd:


<form action="${app.base_url + 'input_select'}" method="get">
<div class="action">
<h3>Select Data</h3>
<p>
Click on an image sequence to use it as the algorithm input
</p>

<%def name="gallery_element(id)">
%if not ('status' in inputd[id] and inputd[id]['status']=="hide"):
	<div class="select_input">
		<input type="image" name="${id|h}"
			src="${inputd[id]['tn_url'][0]}" alt="${inputd[id]['title']|h}"/>
		<span class="label">${inputd[id]['title'].capitalize()|h}</span>
	</div>
%endif
</%def>

<div style="max-height:30em; overflow:auto;background:white">
%for id in sorted(inputd.keys()):
		${gallery_element(id)}
%endfor
</div>


%if any([inputd[id].has_key('credit') for id in inputd]):
<p style="font-size: 80%">
  <a class="toggle"
     href="#credits"
     onclick="toggle('credits');">
    image credits
  </a>
</p>
<div id="credits"
     style="display:none; font-size: 80%"> 
  %for id in sorted(inputd.keys()):
  %for url in inputd[id]['url']:
  <a href="${url}">
    <img height="24"
	 src="${url}" />
  </a>
  %endfor
  ${inputd[id]['credit']}
  <br/>
  %endfor
</div>
%endif

</div>
</form>
%endif
<!-- vim: set ts=2 sw=2: -->
