<%include file="header.html" />

<%
	height = app.cfg['meta']['height']
	if height < 310:
		height = 310
	hastruth = app.cfg['meta']['hastruth']
	maxframes = app.cfg['meta']['maxframes']
%>


<h2>Set parameters</h2>

<form action="${app.base_url + 'wait'}" method="get">
		<input type="hidden" name="key" value="${app.key}">

		<%def name="setpar(visible,name,symbol,defval,hint)">
		%if visible:
		<tr>
			<td align="right">
				<label for="${name}">${symbol} = </label>
			</td>
			<td align="left">
				<input type="text" name="${name}" value="${defval}" size="6" />
			</td>
			<td style="font-size:small">${hint}</td>
		</tr>
		%else:
		<input type="hidden" name="${name}" value="${defval}" />
		%endif
		</%def>

		<table cellpadding="5" cellspacing="0" border="0" style="margin-left:0px;margin-right:auto">

		%for k in sorted(app.parconfig):
		${setpar(app.parconfig[k]['changeable'],k,app.parconfig[k]['htmlname'],app.parconfig[k]['default'],app.parconfig[k]['doc'])}
		%endfor

		<tr>
			<td> </td>
			<td>
				<input type="submit" value="run" />
			</td>
			<td> </td>
	</tr>
		</table>


</form>


<hr />

<h2>Input data</h2>

<!--
<p>There are ${maxframes} input frames</p>
-->

<%def name="visual(file,title)">
<li>
<a href="${app.base_url}reposition?key=${app.key}&repo=${file}#p">
	${title}
		<span>
			<img src="${app.work_url + file}" alt="${title}" />
		</span>
</a>
</li>
</%def>

<div class="gallery" style="height:${height}px">
	<ul class="index">
		%for i in range(min(maxframes,10)):
			${visual('i%04d.png'%i, 'frame %d / %d'%(i, maxframes))}
		%endfor
		%if hastruth:
			${visual('a.png', 'reference image')}
		%endif
	</ul>
</div>

<%include file="footer.html" />

## vim: set ts=2 sw=2:
