<%include file="header.html" />




<span class="title">
MCM and AMSS algorithms demo
</span>

<div id="content">

<p>Select normalized scale (at normalized scale R a disk of radius R disappears):
<form action="" method="get">
step 
<select name="scaleR">
  <option value="0.2">0.2</option>
  <option value="0.4">0.4</option>
  <option value="0.5">0.5</option>
  <option value="0.75">0.75</option>
  <option value="1.0" selected>1.0</option>
  <option value="1.25">1.25</option>
  <option value="1.5">1.5</option>
  <option value="1.75">1.75</option>
  <option value="2.0">2.0</option>
</select>
</form></p>

<form action="${urld['run']}" method="get">
<input type="hidden" name="key" value="${key}">
<input type="hidden" name="scaleR" value="1." />
<input type="hidden" name="grid_step" value="150" />
<input type="submit" value="Run algorithms on the whole image" />
</form>
OR (preferable)
<p>Select a subpart of the image on the following grid.
<form action="${urld['run']}" method="get">
<input type="hidden" name="key" value="${key}">
<input type="hidden" name="scaleR" value="1." />
<input type="hidden" name="grid_step" value="150" />
<input type="image" name="" src="${urld['input'][0]}" /> 
</form></p>
<p>Redraw the grid with a different step size.
<form action="${urld['params_grid']}" method="get">
step 
<select name="grid_step">
  <option value="75">75</option>
  <option value="100">100</option>
  <option value="120">120</option>
  <option value="150" selected>150</option>
  <option value="200">200</option>
</select>
<input type="hidden" name="key" value="${key}">
<input type="submit" value="Redraw" />
</form></p>

</div>


<%include file="footer.html" />
