<%include file="header-jquery.html" />
<%include file="css_style.html" />


<%

# HACK to get the number of computed octaves
paradic = dict(eval(str(app.cfg['param']['paradic'])))
n_oct = int(paradic['n_oct'])

delta_min = float(paradic['delta_min'])
hght = int(app.cfg['param']['hght'])
wdth = int(app.cfg['param']['wdth'])

def rnd():
   import random
   return random.randint(0,100000)


from math import log
n_oct_true = min(n_oct, int( log( min(hght,wdth)/delta_min)/log(2)) )

n_spo =  int(paradic['n_spo'])


%>




<style type="text/css">
#content .gallerytab .index a {
   height : ${str(hght/(2*n_oct_true*n_spo))+'px'};
   padding: 1px;
}
</style>

<%include file="anatomy_overview.html" /> 
<%include file="params_tab.html" /> 


<h1> Gaussian and DoG scalespaces </h1> 




The digital images of the Gaussian and Difference of Gaussians scalespaces.
<p> First image: </p>

<div class="gallerytab" style="height:700px;" style="width:100%;" >
<ul class="index">
%for o in range(n_oct_true):
    %for s in range(1,1+n_spo):
    <li style="width:50%" ><a>  
        <span><p > Gaussian Scalespace - Scale ${str(s)} Octave ${str(o)} </p>
         <img src="${app.work_url + 'scalespace_im0'+ '_o%03i'%(o,)+'_s%03i'%(s,)+'.png'}?rnd=${rnd()}" width="${min(wdth,600)}px"/>
        </span>
    </a></li>
    <li style="width:50%" ><a>
        <span><p> DoG Scalespace - Scale ${str(s)} Octave ${str(o)} </p>
         <img src="${app.work_url + 'DoG_im0'+ '_o%03i'%(o,)+'_s%03i'%(s,)+'.png'}?rnd=${rnd()}" width="${min(wdth,600)}px" />
    </span>
    </a></li>
    %endfor
%endfor
</ul>
</div>

<p> Second image: </p>

<div class="gallerytab" style="height:1000px;" style="width:100%;"  >
<ul class="index">
%for o in range(n_oct_true):
    %for s in range(1,1+n_spo):
    <li style="width:50%" ><a> 
        <span> 
         <p> Gaussian Scalespace -  Scale ${str(s)} Octave ${str(o)} </p>
         <img src="${app.work_url + 'scalespace_im1'+ '_o%03i'%(o,)+'_s%03i'%(s,)+'.png'}?rnd=${rnd()}" width="${min(wdth,600)}px" />
        </span>
    </a></li>
    <li style="width:50%" ><a>
     <span>
        <p> DoG Scalespace -  Scale ${str(s)} Octave ${str(o)} </p>
        <img src="${app.work_url + 'DoG_im1'+ '_o%03i'%(o,)+'_s%03i'%(s,)+'.png'}?rnd=${rnd()}"  width="${min(wdth,600)}px" />
     </span>
    </a></li>


    %endfor
%endfor
</ul>
</div>










<%include file="footer.html" />
