<%include file="header-jquery.html" />


<%include file="css_style.html" />

<%

paradic = dict(eval(str(app.cfg['param']['paradic'])))
hght = int(app.cfg['param']['hght'])
wdth = int(app.cfg['param']['wdth'])

def rnd():
   import random
   return random.randint(0,100000)
   
%>



<%include file="anatomy_overview.html" />
<%include file="params_tab.html"/>



<div style="width:100%" >
<input type="image" width=100% src="${app.work_url + 'OUTmatches.png'}" alt="matches.png">
</div>



<h1> Maps of the candidate keypoints at each step of the algorithm. </h1> </a>
Each circle represents a candidate keypoint whose radius equals the keypoint detected scale &sigma;. </br></br>
Candidate keypoints at each step of the algorithm.


<div class="gallerytab" style="height:${str(min(hght+200,1000))}px;">
<ul class="index">
<!--     Extracting the discrete extrema of the DoG -->
    %for im in ['0','1']:
        <li> <a>  A 
           <!-- <span style="width:${wdth}px> -->
            <span>
                <p>  DoG discrete extrema </p>
                <img src="${app.work_url + 'extra_NES_im%s'%(im,)+'.png'}?rnd=${rnd()}" width=100% />
<!--              <p class=caption> Extracting the discrete extrema of the DoG (Difference of Gaussians). The circle radius equals the extremum detection scale<p>  -->
            </span>
        </a> </li>
    %endfor
    
    
 <!--     Thresholding the 3D discrete extrema -->
    %for im in ['0','1']:
        <li> <a>   B
            <span>
                <p>  Discrete extrema after thresholding the DoG value </p> 
                <img src="${app.work_url + 'extra_DoGSoftThresh_im%s'%(im,)+'.png'}?rnd=${rnd()}" width=100% style="background-color:#FFFFFF;"   />
<!--              <p class=caption> Thresholding the 3D discrete extrema <p>  -->
            </span>
        </a> </li>
    %endfor
 
 
 <!--     Refining the extrema position and scale -->
     %for im in ['0','1']:
        <li> <a>   C
            <span>
            <p> Candidate keypoints after refinement of 3D extrema position </p> 
            <img src="${app.work_url + 'extra_ExtrInterp_im%s'%(im,)+'.png'}?rnd=${rnd()}" width=100% />
<!--              <p class=caption> Refining the extrema position and scale  <p>  -->
            </span>
        </a> </li>
    %endfor
 
 
 <!--     Thresholding the interpolated extrema -->
    %for im in ['0','1']:
        <li> <a>   D
            <span>
               <p> Candidate keypoints after thresholding the interpolated DoG value </p>
            <img src="${app.work_url + 'extra_DoGThresh_im%s'%(im,)+'.png'}?rnd=${rnd()}" width=100% />
<!--              <p class=caption> Thresholding the interpolated value <p>  -->
            </span>
        </a> </li>
    %endfor
 
 
 <!--     Discarding extrema on edges by applying a threshold on a edgeness measure -->
     %for im in ['0','1']:
        <li> <a>   E 
            <span>
               <p> Candidate keypoints after discarding those laying on edges  </p> 
                <img src="${app.work_url + 'extra_OnEdgeResp_im%s'%(im,)+'.png'}?rnd=${rnd()}" width=100% />
<!--              <p class=caption> Discarding extrema on edges by applying a threshold on the Harris operator.  <p>  -->
            </span>
        </a> </li>
    %endfor
 
 
 <!--     SIFT keypoints with reference orientations -->
     %for im in ['0','1']:
        <li> <a>    SIFT 
            <span>
                <p> Final SIFT keypoints with assigned reference orientation </p>
                <img src="${app.work_url + 'keys_im%s'%(im,)+'.png'}?rnd=${rnd()}" width=100% />
            </span>
        </a> </li>
    %endfor 
 

  <!--     SIFT keypoints with reference orientations -->
     %for im in ['0','1']:
        <li> <a>    Matching 
            <span >
                <p>  Matching SIFT keypoints </p>
            <img src="${app.work_url + 'matching_keys_im%s'%(im,)+'.png'}?rnd=${rnd()}" style="width:100%;" />
            </span>
        </a> </li>
    %endfor 
 


    </ul>
</div>


<p> Rejected candidate keypoints </p>

<div class="gallerytab" style="height:${str(min(hght+200,1000))}px;" >
<ul class="index">
 
##    %for im in ['0','1']:
##        <li style="width:50%"><a>   B (rejected)
##            <span>
##                <p> Discarded candidates with low absolute DoG value at the discrete extrema.  </p>
##                <img src="${app.work_url + 'extra_DoGSoftThreshREJ_im%s'%(im,)+'.png'}?rnd=${rnd()}"  style="width:100%"/>
##            </span>
##        </a> </li>
##    %endfor 


    %for im in ['0','1']:
        <li style="width:50%"><a>   C (rejected)
            <span>
                <p> Candidate keypoints discarded during DoG extrema position refinement.  </p>
                <img src="${app.work_url + 'extra_ExtrInterpREJ_im%s'%(im,)+'.png'}?rnd=${rnd()}"  style="width:100%"/>
            </span>
        </a> </li>
    %endfor    

##    %for im in ['0','1']:
##        <li style="width:50%"><a>   D (rejected)
##            <span>
##                <p> Discarded candidates with low DoG absolute value at the refined position.  </p>
##                <img src="${app.work_url + 'extra_DoGThreshREJ_im%s'%(im,)+'.png'}?rnd=${rnd()}"  style="width:100%"/>
##            </span>
##        </a> </li>
##    %endfor 

 
    
    %for im in ['0','1']:
        <li  style="width:50%"> <a>  E (rejected)
            <span> 
                <p > Candidate keypoints discarded due to laying on a edge. </p>
                <img src="${app.work_url + 'extra_OnEdgeRespREJ_im%s'%(im,)+'.png'}?rnd=${rnd()}"  style="width:100%"/>
            </span>
        </a> </li>
    %endfor


  



    </ul>
</div>





<p> Keypoints with multiple orientations </p>

<div class="gallerytab" style="height:${str(min(hght+200,1000))}px;" >
<ul class="index">
 
    
    %for im in ['0','1']:
        <li  style="width:50%"> <a>    Multi
            <span>  
            <img src="${app.work_url + 'extra_OriAssignedMULT_im%s'%(im,)+'.png'}?rnd=${rnd()}"  style="width:100%"/>
            </span>
        </a> </li>
    %endfor
    

    </ul>
</div>




<h2> Algorithm output </h2>
<ul>
<li>First image: <a href="${app.work_url}input_0.png">input_0.png</a></li>
<li>Second image: <a href="${app.work_url}input_1.png">input_1.png</a></li>
<li>Detected keypoint in the first image: <a href="${app.work_url}keys_im0.txt">keys_im0.txt</a></li>
<li>Detected keypoint in the second image: <a href="${app.work_url}keys_im1.txt">keys_im1.txt</a></li>
<li>List of matching keypoints: <a href="${app.work_url}matches.txt">matches.txt</a></li>
</ul>







<%include file="footer.html" />
