
<!-- Load input images dimension -->
<%
hght = int(app.cfg['param']['hght'])
wdth = int(app.cfg['param']['wdth'])
%>



The digital images of the Gaussian scalespace and Difference of Gaussians:
<p> First image : </p>

<div class="gallerytab" style="height:${str(hght+100)}px;"  >
<ul class="index">
%for o in range(int(app.cfg['param']['paradic']['n_oct'])):
    %for s in range(1,1+int(app.cfg['param']['paradic']['n_spo'])):
<!--     </a></li> -->
    <li style="width:50%" ><a>  
        <span> <img src="${app.work_url + 'DoG_im0'+ '_o%03i'%(o,)+'_s%03i'%(s,)+'.png'}" width="${str(wdth)}" />  
<!--         <p class="caption"> DoG  Scale ${str(s)} Octave ${str(o)} </p> -->
        <p> DoG  Scale ${str(s)} Octave ${str(o)} </p>
    </span>
    </a></li>

    <li style="width:50%" ><a>  
        <span> <img src="${app.work_url + 'scalespace_im0'+ '_o%03i'%(o,)+'_s%03i'%(s,)+'.png'}" width="${str(wdth)}"/>
        <p class="caption"> Scalespace  Scale ${str(s)} Octave ${str(o)} </p>
        </span>
    </a></li>

    %endfor
%endfor
</ul>
</div>

<p> Second image : </p>

<div class="gallerytab" style="height:${str(hght+200)}px;"  >
<ul class="index">
%for o in range(int(app.cfg['param']['paradic']['n_oct'])):
    %for s in range(1,1+int(app.cfg['param']['paradic']['n_spo'])):
<!--     </a></li> -->
    <li style="width:50%" ><a>  w_${str(o+1)}^${str(s)}
        <span> <img src="${app.work_url + 'DoG_im1'+ '_o%03i'%(o,)+'_s%03i'%(s,)+'.png'}" width="${str(wdth)}" />  
        <p class="caption"> DoG  Scale ${str(s)} Octave ${str(o)} </p>
    </span>
    </a></li>

    <li style="width:50%" ><a>  v_${str(o+1)}^${str(s)}
        <span> <img src="${app.work_url + 'scalespace_im1'+ '_o%03i'%(o,)+'_s%03i'%(s,)+'.png'}" width="${str(wdth)}"/>
        <p class="caption"> Scalespace  Scale ${str(s)} Octave ${str(o)} </p>
        </span>
    </a></li>

    %endfor
%endfor
</ul>
</div>

