
<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>



<%
paradic = app.cfg['param']['paradic']
show = str(app.cfg['param']['show'])
%>



<%def name="textareaAuto(name,defaultvalue,tagproperties='')">
   <%
   if name in app.cfg['param'] and app.cfg['param'][name] !='':
      value = app.cfg['param'][name]
   else:
      value = defaultvalue
   endif
   %>
   <input type="text" ${tagproperties} id="${name}" name="${name}" value="${value}"  />
</%def>



<form action="${app.base_url + 'wait'}" method="get">
 <input type="hidden" name="key" value="${app.key}">
 
<div style="max-height:30em; overflow:auto;">
    <fieldset style="padding-top:0.0ex" >
      <legend style="font-weight:bold;"> Detection </legend>
 
 
</br>
- <b>Digital scale-space discretization</b></br>
<!--  Number of scales per octave -->
<%
try:
   n_spo = int(paradic['n_spo'])
except Exception:
   n_spo = 4
%>
<div style="float:left;padding-right:5px;width:6em;">
   n<sub>spo</sub> 
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="n_spo" name="n_spo" value="${n_spo}" />
<div id="n_spo_slider" name="n_spo_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#n_spo', '#n_spo_slider', 1, 8, 1); 
    });
    </script>
    <div>
      Number of scales per octave.
    <div>
<div style="clear:both;margin-bottom:5px;"> </div>
<!--</br>-->
   
 <!--  Number of octaves -->
<%
try:
   n_oct = int(paradic['n_oct'])
except Exception:
   n_oct = 4
%>
<div style="float:left;padding-right:5px;width:6em;">
    n<sub>oct</sub> 
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="n_oct" name="n_oct" value="${n_oct}" />
<div id="n_oct_slider" name="n_oct_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#n_oct', '#n_oct_slider', 1, 18, 1); 
    });
    </script>
    <div>
     Number of octaves.
    </div>
<div style="clear:both;margin-bottom:5px;"> </div>
 
    
 <!--  Sigma min -->
<%
try:
   sigma_min = float(paradic['sigma_min'])
except Exception:
   sigma_min = 0.8
%>
<div style="float:left;padding-right:5px;width:6em;">
    &sigma;<sub>min</sub>
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="sigma_min" name="sigma_min" value="${sigma_min}" />
<div id="sigma_min_slider" name="sigma_min_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#sigma_min', '#sigma_min_slider',0.5, 4.0, 0.1); 
    });
    </script>
    <div>
    Minimum blur level in the scale-space.
    </div>
<div style="clear:both;margin-bottom:5px;"> </div>
    
    
    
  <!--  Delta min -->
    
 <div class="action">
    Minimum intersample distance &delta;<sub>min</sub>: <br/>
<%
if ( float(paradic['delta_min']) == 0.5):
    radiozoom1 = "unchecked"
    radiozoom2 = "checked"
    radiozoom4 = "unchecked"
elif ( float(paradic['delta_min']) == 1):
    radiozoom1 = "checked"
    radiozoom2 = "unchecked"
    radiozoom4 = "unchecked"
elif (float(paradic['delta_min']) == 0.25):
    radiozoom1 = "unchecked"
    radiozoom2 = "unchecked"
    radiozoom4 = "checked"
else:
    print 400*'klmjhlkjh'
endif
%>
<input type="radio" name="delta_min" value="1"    ${radiozoom1} /> No subsampling   </br>
              <input type="radio" name="delta_min" value="0.5"  ${radiozoom2} /> Oversampling by a factor 2 (standard)</br> 
              <input type="radio" name="delta_min" value="0.25" ${radiozoom4} /> Oversampling by a factor 4</br>
   <br/>
 </div>
 
    
    
    
    
 
 
 
    
 <!--  Sigma min -->
<%
try:
   sigma_in = float(paradic['sigma_in'])
except Exception:
   sigma_in = 0.8
%>
<div style="float:left;padding-right:5px;width:6em;">
   &sigma;<sub>in</sub> 
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="sigma_in" name="sigma_in" value="${sigma_in}" />
<div id="sigma_in_slider" name="sigma_in_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#sigma_in', '#sigma_in_slider',0.0, 1, 0.1); 
    });
    </script>
    <div>
    Assumed blur level in the input image. 
    </div>
<div style="clear:both;margin-bottom:5px;"> </div>
    

 </br> 
 - <b> Filtering keypoints </b> </br>
 
 
 
 <!--  Threshold on Difference of Gaussian -->
<%
try:
   C_DoG = float(paradic['C_DoG'])
except Exception:
   C_DoG = 0.8
%>
<div style="float:left;padding-right:5px;width:6em;">
    C<sub>DoG</sub> 
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="C_DoG" name="C_DoG" value="${C_DoG}" />
<div id="C_DoG_slider" name="C_DoG_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#C_DoG', '#C_DoG_slider',0, 0.2, 0.005); 
    });
    </script>
    <div>
    Threshold on DoG 
    </div>
<div style="clear:both;margin-bottom:5px;"> </div>
 
 
 
 
  <!--  Harris  Stephen -->
<%
try:
   C_edge = float(paradic['C_edge'])
except Exception:
   C_edge = 0.8
%>
<div style="float:left;padding-right:5px;width:6em;">
    C<sub>edge</sub> 
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="C_edge" name="C_edge" value="${C_edge}" />
<div id="C_edge_slider" name="C_edge_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#C_edge', '#C_edge_slider',0, 100, 0.1); 
    });
    </script>
    <div>
    Threshold on principal curvatures ratio.
    </div>
<div style="clear:both;margin-bottom:5px;"> </div>
</br>


    </fieldset>
</div>


<div style="max-height:30em; overflow:auto;">
    <fieldset style="padding-top:0.0ex" >
      <legend style="font-weight:bold;"> Description</legend>
 
 
 
 <!--  Reference orientation -->
 </br> 
 - <b> Reference orientation attribution </b> </br>    

<%
try:
   n_bins = int(paradic['n_bins'])
except Exception:
   n_bins = 36
%>
<div style="float:left;padding-right:5px;width:6em;">
    n<sub>bins</sub>
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="n_bins" name="n_bins" value="${n_bins}" />
<div id="n_bins_slider" name="n_bins_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#n_bins', '#n_bins_slider',4, 50 , 1); 
    });
    </script>
    <div>
    Number of bins in the orientation histogram.
    </div>
<div style="clear:both;margin-bottom:5px;"> </div>
    

<%
try:
   lambda_ori = int(paradic['lambda_ori'])
except Exception:
   lambda_ori = 1.5
%>
<div style="float:left;padding-right:5px;width:6em;">
    &lambda;<sub>ori</sub> 
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
   size="4" id="lambda_ori" name="lambda_ori" value="${lambda_ori}" />
<div id="lambda_ori_slider" name="lambda_ori_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#lambda_ori', '#lambda_ori_slider',0.1, 5 , 0.1); 
    });
    </script>
    <div>
    The Gaussian window standard deviation for reference orientation attribution is &lambda;<sub>ori</sub> &times; &sigma;.
    </div>
<div style="clear:both;margin-bottom:5px;"> </div>
    
    
<%
try:
   t = float(paradic['t'])
except Exception:
   t = 0.6
%>
<div style="float:left;padding-right:5px;width:6em;">
    t
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="t" name="t" value="${t}" />   
<div id="t_slider" name="t_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#t', '#t_slider',0., 0.9 , 0.05); 
    });
    </script>
    <div>
      Threshold for secondary reference orientations.
   </div>
<div style="clear:both;margin-bottom:5px;"> </div>
    
    </br> 
  - <b> Feature vector construction </b> </br>

  
<%
try:
   n_hist = int(paradic['n_hist'])
except Exception:
   n_hist = 4
%>
<div style="float:left;padding-right:5px;width:6em;">
    n<sub>hist</sub>
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
   size="4" id="n_hist" name="n_hist" value="${n_hist}" />
<div id="n_hist_slider" name="n_hist_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"> </div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#n_hist', '#n_hist_slider',1, 10 , 1); 
    });
    </script>
     <div>
    An array of n<sub>hist</sub> &times; n<sub>hist</sub> orientation histograms constitutes the descriptor.
     </div>
<div style="clear:both;margin-bottom:5px;"> </div>
    
  
    
    
    
 <%
try:
   n_ori = int(paradic['n_ori'])
except Exception:
   n_ori = 8
%>
<div style="float:left;padding-right:5px;width:6em;">
    n<sub>ori</sub>
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="n_ori" name="n_ori" value="${n_ori}" />
<div id="n_ori_slider" name="n_ori_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#n_ori', '#n_ori_slider',1, 15 , 1); 
    });
    </script>
     <div>
     Each weighted histogram has n<sub>ori</sub> bins.
     </div>
<div style="clear:both;margin-bottom:5px;"> </div>
    
 <%
try:
   lambda_descr = float(paradic['lambda_descr'])
except Exception:
   lambda_descr = 6
%>
<div style="float:left;padding-right:5px;width:6em;">
    &lambda;<sub>descr</sub>
</div>
   <input type="text" style="float:left;font-family:monospace;text-align:right"
    size="4" id="lambda_descr" name="lambda_descr" value="${lambda_descr}" />
<div id="lambda_descr_slider" name="lambda_descr_slider" style="width:250px;margin-left:5px;margin-right:1em;float:left;margin-top:4px;font-size:10pt"></div>
    <script type="text/javascript">
    $(document).ready(function(){
      createLinkedSlider('#lambda_descr', '#lambda_descr_slider',0.2, 15 , 0.05); 
    });
    </script>
    <div>
     The Gaussian window standard deviation for description is &lambda;<sub>descr</sub> &times; &sigma;.
     </div>
<div style="clear:both;margin-bottom:5px;"> </div>



 </br>        

    </fieldset>
</div>





  <div style="height:60px;" >
<!--   <fieldset style="padding-top:0.0ex" > -->
  <input type="hidden" name="show" value="${show}">
  <button type="submit" style="width:100%; height:50px "  name="action" value="cust_sift_matching">  Run SIFT and match keypoints </button>
<!--   </fieldset> -->
  </div>
</form>

