
<!-- custom item display (for stero images) flips between the two images with onmouseover -->
<%def name="imgflip(files,title,id)">
      %if len(files) >= 2:
         <%
            url  = files[0]
            url2 = files[1]
         %>
         <input type="image" name="${id | h}"
            src="${url2}"
            style="display: none;"/>
         <input type="image" name="${id | h}"
            src="${url}"
            onmouseover="this.src='${url2}';"
            onmouseout="this.src='${url}';"
            alt="${title | h}"/>
      %else:
         <%
            url = files[0]
         %>
         <input type="image" name="${id | h}"
            src="${url}"
            alt="${title | h}"/>
      %endif
</%def>


%if inputd:
<form action="${app.base_url + 'input_select'}" method="get">
<div class="action">
<h3>Select Input Images</h3> 
<!--<p>
Click on an images to use it as the algorithm input.
</p>-->
<div style="max-height:30em; overflow:auto;">

   <fieldset>
      <legend>With Ground Truth</legend>
%for id in sorted(inputd.keys()):
	%if 'gt' in inputd[id].keys():
		%if 'hidden' not in inputd[id].keys():
			<div class="select_input">
			${imgflip(inputd[id]['tn_url'],inputd[id]['title'],id)}
			##%for url in inputd[id]['tn_url']:
			##%endfor
			  <span class="label">${inputd[id]['title'] | h}</span>
			</div>
		%endif
	%endif
%endfor
   </fieldset>


   <fieldset>
      <legend>Without Ground Truth</legend>
%for id in sorted(inputd.keys()):
	%if 'gt' not in inputd[id].keys():
		%if 'hidden' not in inputd[id].keys():
			<div class="select_input">
			${imgflip(inputd[id]['tn_url'],inputd[id]['title'],id)}
			##%for url in inputd[id]['tn_url']:
			##%endfor
			  <span class="label">${inputd[id]['title'] | h}</span>
			</div>
		%endif
	%endif
%endfor
   </fieldset>


</div>

%if any([inputd[id].has_key('credit') for id in inputd]):
<p style="font-size: 80%">
  <a class="toggle"
     href="#credits"
     onclick="toggle('credits');">
    image credits
  </a>
</p>
<div id="credits"
     style="display:none; font-size: 80%"> 
  %for id in sorted(inputd.keys()):
  %for url in inputd[id]['url']:
  <a href="${url}">
    <img height="24"
	 src="${url}" />
  </a>
  %endfor
  ${inputd[id]['credit'] | h}
  <br/>
  %endfor
</div>
%endif

</div>
</form>
%endif
