<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />
// -->
</script>

<form action="${app.base_url + 'rectangle'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
    
 
    
    
    
    
    <p>
    <FONT SIZE=+1>**Flutter Shutter camera parameters:</FONT>    
    <br />
    <p>

    

    
    
    
Numerical or Analog Flutter Shutter? 
    <select name="flutter_type" onchange='this.form.submit()'>
<%
selected = {"Numerical":'', "Analog":''}
try:
    flutter_typeSel=flutter_type
    assert (flutter_typeSel != None)
except Exception:
    flutter_typeSel = "Numerical"
selected[flutter_typeSel] = 'selected'
%>
%for s in selected.keys():
    <option value="${s}" ${selected[s]}>${s}</option>
%endfor

    </select>
    
    <br />    
    
    
 <!--  Dealing with negative code non implementable with Analog : make rand disapear if analog is selected
 
 conditionnal + onchange sur le select precement + change fore tryS... in rectangle to cope with all possible cases
 in case x not asigned.
 -->     
     <br />    
Choose a flutter shutter code :
    <br /> 




    <select name="code">
<%
selected2 = { "Original binary Raskar's code":'', "Snapshot":'', "Accumulation (constant to 1 code)":'', "Sinc-code":'',"Rand : a code having its coefficients uniformly distributed over [-1,1]; is the original binary Raskar code better ?":'',"Coded motion invariant photography":''}

if flutter_type=='Analog' :
 selected2 = { "Original binary Raskar's code":'', "Snapshot":'',"Accumulation (constant to 1 code)":''}



try:
    codeSel=code
    assert (codeSel != None)
except Exception:
    codeSel = "Original binary Raskar's code"
selected2[codeSel] = 'selected2'
%>
%for s in selected2.keys():
    <option value="${s}" ${selected2[s]}>${s}</option>
%endfor

    </select>    



<!-- ***********************************************************************************r -->
    <br />
    <br />
    <!-- code for slider (from Pascal Getreuer:  http://www.math.ucla.edu/~getreuer/jqslider.html -->
  <div style="float:left;padding-right:25px">
    SNR for level 100 (std-dev:= brightness/SNR) : <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s3_selector" name="s3" value="${s3}" />
</div>
<div id="sliderS3" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#s3_selector', '#sliderS3', 0.0, 500.0, 5); });
</script>
<div style="clear:both"> </div>

  <div style="float:left;padding-right:25px">
    V : velocity (blur support:= N.V.dt, N=52 (except for snapshot N=1), dt=1) : <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s4_selector" name="s4" value="${s4}" />
    
    
</div>
<div id="sliderS4" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#s4_selector', '#sliderS4', -1.9, 1.9, 0.1); });
</script> 

    
<div style="clear:both"> </div>   


<!-- end of code for slider -->
 <!-- ***********************************************************************************r -->
 <p>
    When V is set to 0 the there's no motion at all. When V is set to 1 the blur length is of 52 pixels. 
 </p>
 
 
    
    <p>
        <input type="submit" name="action" value="run" />
    <p/>     

%if x0 and y0 and x1 and y1:
    <input type="hidden" name="x0" value="${x0}">
    <input type="hidden" name="y0" value="${y0}">
    <input type="hidden" name="x" value="${x1}">
    <input type="hidden" name="y" value="${y1}">
    <p>
        <input type="submit" name="action" value="run" />
    <p/>
     <img src="${app.work_url + 'input_0.sel.png'}" />
%else:

    <p>
      Or you can run it after selecting a subimage 
      by clicking two opposite corners of the subimage.
    </p>
    
    

    
  %if x0 and y0:
    <input type="hidden" name="x0" value="${x0}">
    <input type="hidden" name="y0" value="${y0}">
    <input type="image" style="cursor:crosshair;" name=""
	   src="${app.work_url + 'input.png?xy=%i,%i' % (x0, y0)}" />
  %else:
    <input type="image" style="cursor:crosshair;" name=""
	   src="${app.work_url + 'input_0.png'}" />
  %endif
%endif




  </div>

</form>


<%include file="footer.html" />
