<%include file="header.html" />


<h2>Image selection</h2>

<form action="${app.base_url + 'rectangle'}" method="get">
  <div class="action">
    %if (gammaR != None):
       <input type="hidden" name="gammaR" value="${gammaR}">
    %endif
    %if (gammaG != None):
       <input type="hidden" name="gammaG" value="${gammaG}">
    %endif
    %if (gammaB != None):
       <input type="hidden" name="gammaB" value="${gammaB}">
    %endif
    %if (gammaI != None):
       <input type="hidden" name="gammaI" value="${gammaI}">
    %endif
    <input type="hidden" name="key" value="${app.key}">
      <p>
        If you want to run the algorithm on the whole image click here:
        <input type="submit" name="action" value="continue" />
      </p>
      <p>
        You can also select a part of this image to be used with the
        algorithm by clicking on two opposite corners of the sub-image.
      </p>
      %if x0 and y0:
        <input type="hidden" name="x0" value="${x0}">
        <input type="hidden" name="y0" value="${y0}">
        <input type="image" style="cursor:crosshair;" name=""
	       src="${app.work_url + 'input.png?xy=%i,%i' % (x0, y0)}" />
      %else:
        <input type="image" style="cursor:crosshair;" name=""
	       src="${app.work_url + 'input_0.png'}" />
      %endif
  </div>
</form>


<%include file="footer.html" />
