<%include file="header.html" />

<p>
V. Kolmogorov and R. Zabih's method tries to minimize an 
energy defined on all possible configurations.<br />
Please select two images; color images will be converted into gray
level; images larger than 1M pixels will be resized.<br/>
Warning: this algorithm only works on orthorectified images. If
your pair is not orthorectified, use 
<a href='../../m_quasi_euclidean_epipolar_rectification/'>a
rectification step</a> first.
</p>

<%include file="input_form.html" />

<%include file="footer.html" />
