<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />
// -->
</script>
<%
	height = app.cfg['meta']['height']
	if height < 310:
		height = 310
	hastruth = app.cfg['meta']['hastruth']
	nframes = app.cfg['meta']['nframes']
%>

<h2>Set parameters</h2>

<form action="${app.base_url + 'wait'}" method="get">
		<input type="hidden" name="key" value="${app.key}">
                <table cellpadding="10" cellspacing="0" border="0" style="margin-left:10px;margin-right:auto">
		%for k in sorted(app.parconfig):
		<tr><td>
                <div style="float:left;padding-right:25px">
                ${app.parconfig[k]['doc']} : </td><td> <input type="text" style="font-family:monospace;text-align:right"
                size="7" id="${app.parconfig[k]['input_id']}" name="${app.parconfig[k]['htmlname']}" value="${app.parconfig[k]['default']}" />
                </div>
                </td><td>
                <div id="${app.parconfig[k]['slider_id']}" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
                </td><td>
                <script type="text/javascript">
                // Turn DIV slider into a slider linked to scale
                $(document).ready(function() 
                { createLinkedSlider(${app.parconfig[k]['input_id']}, ${app.parconfig[k]['slider_id']}, ${app.parconfig[k]['min']}, ${app.parconfig[k]['max']}, ${app.parconfig[k]['step']}); });
                </script>
                <div style="clear:both"> </div>
                </td></tr> 

                %endfor

		<tr>
			<td> </td>
			<td>
				<input type="submit" value="run" />
			</td>
			<td> </td>
	</tr>
		
</table>
 


</form>


<hr />

<h2>Input data</h2>

<%def name="visual(file,title)">
<li>
<a href="#">
	${title}
		<span>
			<img src="${app.work_url + file}" alt="${title}" />
		</span>
</a>
</li>
</%def>

<div class="gallery" style="height:${height}px">
	<ul class="index">
		%for i in range(10):
			${visual('b_%03d.png'%i, 'frame %d / %d'%(i, nframes))}
		%endfor
		%if hastruth:
			${visual('a.png', 'reference image')}
		%endif
	</ul>
</div>

<%include file="footer.html" />
