<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />

function num2sci(value, numDigits)
{
    var exponent = Math.floor(Math.log(value) / Math.log(10));
    var mantissa = value / Math.pow(10, exponent - numDigits);
    return Math.round(mantissa + (9*exponent - 1)*Math.pow(10, numDigits));
}

function sci2str(sci, numDigits)
{
    var exponent = Math.floor(sci / (9*Math.pow(10, numDigits)));
    var mantissa = sci/Math.pow(10, numDigits) - (9*exponent - 1);
    var value = Math.pow(10, exponent) * mantissa;
    return value.toExponential(numDigits);
}

// Create a JQueryUI slider linked with text input with scientific notation
//
// inputId      the ID of the text input element
// sliderId     the ID of the DIV element to turn into a slider
// valueMin     minimum value
// valueMax     maximum value
// numDigits    number of digits after decimal point
function createLinkedSliderExp(inputId, sliderId, 
    valueMin, valueMax, numDigits)
{    
    var inputObj = $(inputId);
    // Create JQueryUI slider
    var sliderObj = $(sliderId).slider({
        min: num2sci(valueMin, numDigits),         // Minimum value
        max: num2sci(valueMax, numDigits),         // Maximum value
        value: num2sci(parseFloat(                 // Initial value
            inputObj.attr('value')), numDigits),
        animate: 'fast'});                         // Animation speed
    
    // Update slider when input changes
    inputObj.blur(function()
        {
            var value = parseFloat(inputObj.attr('value'));
            var valueClamped;

            if(value <= 0 || !isFinite(value))
                valueClamped = sliderObj.slider('option', 'min');
            else
            {
                value = num2sci(value, numDigits);
                valueClamped = Math.min(Math.max(value, 
                    sliderObj.slider('option', 'min')), 
                    sliderObj.slider('option', 'max'));
            }

            sliderObj.slider('value', valueClamped);
    
            if(value != valueClamped)
                inputObj.val(sci2str(valueClamped, numDigits));
        });

    // Update input when slider changes
    sliderObj.slider('option', 'slide',
        function(event, ui) { inputObj.val(sci2str(ui.value, numDigits)); });
}


function spritecoords(s)
{
    var n = Math.max(Math.round((parseFloat(s) - 1)/2), 0);
    return '0px ' + (-31*n) + 'px';
}
// -->
</script>


<form action="${app.base_url + 'editmask'}" method="get">
<input type="hidden" id="key" name="key" value="${app.key}" />

<p>Select an inpainting domain <i>D</i>:&nbsp;
<input type="submit" id="action" name="action" value="random text" />&nbsp;
<input type="submit" id="action" name="action" value="random dots" />&nbsp;
<input type="submit" id="action" name="action" value="random scribble" />&nbsp;
<input type="submit" id="action" name="action" value="Bernoulli mask" />&nbsp;
<span style="width:5em; text-align:right;">
<i>ratio</i>&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;"
size="3" id="maskingratio" name="maskingratio" value="${'%.1f' % app.cfg['param']['maskingratio']}">
<span id="slider4" style="float:right; width:14em; margin-left:1em; margin-top:4px; font-size:10pt;"></span>
</span>
</p>
<p>click again to regenerate</p>
<p>Alternatively, click on the image to draw the inpainting domain.</p>
<fieldset>    
    <input type="submit" id="action" name="action" value="undo" style="float:left" />
    <input type="submit" id="action" name="action" value="clear" style="float:left; margin-left:3pt" />
    <div id="penpreview" name="penpreview" style="float:left; margin-left:36px; width:31px; height:31px"></div>
    <div style="float:left; margin-left:6px; font-size:9pt; text-align:right;">
        pen size&nbsp;&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;"
        size="2" id="pensize" name="pensize" value="${app.cfg['param']['pensize']}" /><br />
        <div id="slider1" style="width:8em; margin-top:2px; font-size:8pt;"></div>
    </div>
    <input type="submit" id="pencolor_yellow" name="pencolor_yellow" value="" 
    style="float:left; margin-left:36px; background:none; background-color:#FFFF00" />
    <input type="submit" id="pencolor_blue" name="pencolor_blue" value="" 
    style="float:left; margin-left:4px; background:none; background-color:#0000FF" />
    <input type="submit" id="pencolor_black" name="pencolor_black" value="" 
    style="float:left; margin-left:4px; background:none; background-color:#000000" />
    <div style="clear:both"></div>
    <input type="image" style="cursor:crosshair; margin-top:5px;
    background:url('${app.work_url + 'input_0.png'}')"
    src="${app.work_url + 'mask.gif'}?${app.timestamp}" 
    width="${app.cfg['param']['viewbox_width']}"
    height="${app.cfg['param']['viewbox_height']}" alt="" />
</fieldset>
</form>

<form action="${app.base_url + 'wait'}" method="get">
<input type="hidden" name="key" value="${app.key}" />
<p style="clear:both;">Run the algorithm: <input type="submit" name="action" value="run" /><p/>

<script type="text/javascript">
$(document).ready(function() 
{
    createLinkedSlider('#pensize', '#slider1', 1, 15, 2); 
    createLinkedSlider('#maskingratio', '#slider4', 0, 1, 0.1);
 
   $('#penpreview').css('border', '1px #CCC solid');
    $('#penpreview').css('background-image', 
        'url(\'http://www.ipol.im/pub/algo/g_tv_inpainting/pen-preview.png\')');
    $('#penpreview').css('background-position', 
        spritecoords($('#pensize').attr('value')));

    // Update pen preview image with pensize slider
    $('#pensize').blur(function()
        {
            var value = $('#pensize').attr('value');
            var valueClamped = Math.min(Math.max(value, 
                $('#slider1').slider('option', 'min')), 
                $('#slider1').slider('option', 'max'));
            $('#slider1').slider('value', valueClamped);
            $('#penpreview').css('background-position', 
                spritecoords(valueClamped));

            if(value != valueClamped)
                $('#pensize').val(Math.round(valueClamped));
        });
    $('#slider1').slider('option', 'slide',
        function(event, ui) { 
            $('#pensize').val(Math.round(ui.value)); 
            $('#penpreview').css('background-position', 
                spritecoords(ui.value));
        });
//    $('#slider5').slider('option', 'slide',
//        function(event, ui) { 
//	    $('#patchsize').val(Math.round(ui.value));
//	    $('#overlap').val(0); 	
//	    createLinkedSlider('#overlap', '#slider2', 0, $('#patchsize').attr('value')-1, 1);
//        });

});
</script>
</form>

<div style="clear:both">&nbsp;</div>

<%include file="footer.html" />
