<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />
// -->
</script>
    
    <p>
    <FONT SIZE=+1>**Velocity model? </FONT>    
    <br />
    <p>

<form action="${app.base_url + 'params'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
    
    
    

    <select name="motion_model" onchange='this.form.submit()'>
<%
selected = {"Gaussian (truncated at 4*std-dev)":'', "Uniform over [-s,s]":'', "Trimodal: rho(v)= rho_0*delta_0(v)+(1/2)*(1-rho_0)*delta_s(v)+(1/2)*(1-rho_0)*delta_{-s}(v)":''}
try:
    motion_modelSel=motion_model
    assert (motion_modelSel != None)
except Exception:
    motion_modelSel = "Gaussian (truncated at 4*std-dev)"
selected[motion_modelSel] = 'selected'
%>
%for s in selected.keys():
    <option value="${s}" ${selected[s]}>${s}</option>
%endfor
  </select>
    
    
 <br />         
 <br />    

  <p>
    <FONT SIZE=+1>**Choose the motion model and code parameters : </FONT>    
    <br />
    <p>   
    <br /> 


    <!-- ***********************************************************************************r -->
    <!-- code for slider (from Pascal Getreuer:  http://www.math.ucla.edu/~getreuer/jqslider.html -->
 <div style="float:left;padding-right:25px">
    Probabilibty of the event v=0 (rho_0): <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s1_selector" name="s1" value="${s1}" />
 </div>
 <div id="sliderS1" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
 <script type="text/javascript">
 // Turn DIV slider into a slider linked to scale
 $(document).ready(function() 
    { createLinkedSlider('#s1_selector', '#sliderS1', 0.01, 1, 0.01); });
 </script>
 <div style="clear:both"> </div>
    <!-- code for slider (from Pascal Getreuer:  http://www.math.ucla.edu/~getreuer/jqslider.html -->
 <div style="float:left;padding-right:25px">
    Maximal velocity: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s2_selector" name="s2" value="${s2}" />
 </div>
 <div id="sliderS2" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
 <script type="text/javascript">
 // Turn DIV slider into a slider linked to scale
 $(document).ready(function() 
    { createLinkedSlider('#s2_selector', '#sliderS2', 0.01, 100, 0.01); });
 </script>
 <div style="clear:both"> </div>


 <br />
 <br />
<div style="float:left;padding-right:25px">
    Code length L: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s3_selector" name="s3" value="${s3}" />
</div>
 <div id="sliderS3" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
 <script type="text/javascript">
 // Turn DIV slider into a slider linked to scale
 $(document).ready(function() 
    { createLinkedSlider('#s3_selector', '#sliderS3', 1, 52, 1); });
 </script>
<div style="clear:both"> </div>


 <br />
 <br />
<div style="float:left;padding-right:25px">
    Relative exposure time (as a factor of the best snapshot exposure time): <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="s4_selector" name="s4" value="${s4}" />
</div>
<div id="sliderS4" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#s4_selector', '#sliderS4', 1, 25, 0.1); });
</script> 
<div style="clear:both"> </div>
    
<!-- end of code for slider -->
<!-- ***********************************************************************************r -->
 
    <p>
        <input type="submit" name="action" value="run" />
    <p/>     


  </div>

</form>
<%include file="footer.html" />
