<%include file="header.html" />


<p> 
The algorithm is run in 2 steps:
<ol>
<li> a Bayer pattern mosaic is extracted from the input image;</li>
<li> the demosaicking algorithm is used to reconstruct the original
  image.</li> 
</ol>
</p> 


<br>

<form action="${app.base_url + 'rectangle'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
Mosaicing pattern: 
    RGGB <img src="http://www.ipol.im/pub/algo/bcms_self_similarity_driven_demosaicking/bayer_RGGB.png" />,
    GRBG <img src="http://www.ipol.im/pub/algo/bcms_self_similarity_driven_demosaicking/bayer_GRBG.png" />,
    GBRG <img src="http://www.ipol.im/pub/algo/bcms_self_similarity_driven_demosaicking/bayer_GBRG.png" />,
    BGGR <img src="http://www.ipol.im/pub/algo/bcms_self_similarity_driven_demosaicking/bayer_BGGR.png" />
    <select name="pattern">
      %if pattern:	
        %if pattern == 'RGGB':	 
  	  <option value="RGGB" selected>RGGB</option>
	%else:
  	  <option value="RGGB">RGGB</option>
	%endif
        %if pattern == 'GRBG':	 
  	  <option value="GRBG" selected>GRBG</option>
	%else:
  	  <option value="GRBG">GRBG</option>
	%endif
        %if pattern == 'GBRG':	 
  	  <option value="GBRG" selected>GBRG</option>
	%else:
  	  <option value="GBRG">GBRG</option>
	%endif
        %if pattern == 'BGGR':	 
  	  <option value="BGGR" selected>BGGR</option>
	%else:
  	  <option value="BGGR">BGGR</option>
	%endif
      %else:
  	  <option value="RGGB" selected>RGGB</option>
  	  <option value="GRBG">GRBG</option>
  	  <option value="GBRG">GBRG</option>
  	  <option value="BGGR">BGGR</option>
      %endif
    </select>

    %if x0 and y0 and x1 and y1:
      <input type="hidden" name="x0" value="${x0}">
      <input type="hidden" name="y0" value="${y0}">
      <input type="hidden" name="x" value="${x1}">
      <input type="hidden" name="y" value="${y1}">
      <p>
        <input type="submit" name="action" value="run" />
      <p/>
      <img src="${app.work_url + 'input_0.sel.png'}" />
    %else:
      <p>
        Run the algorithm:
        <input type="submit" name="action" value="run" />
      </p>
      <p>
        Or you can run it after selecting a subimage 
by clicking two opposite corners of the subimage.
      </p>
      %if x0 and y0:
        <input type="hidden" name="x0" value="${x0}">
        <input type="hidden" name="y0" value="${y0}">
        <input type="image" style="cursor:crosshair;" name=""
	       src="${app.work_url + 'input.png?xy=%i,%i' % (x0, y0)}" />
      %else:
        <input type="image" style="cursor:crosshair;" name=""
	       src="${app.work_url + 'input_0.png'}" />
      %endif
    %endif
  </div>
</form>


<%include file="footer.html" />
