<%include file="header-jquery.html" />

<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>

<p>
<b>Input parameters</b>
</p>

<form action="${app.base_url + 'crop'}" method="get">
    <input type="hidden" name="key" value="${app.key}" />

<!-- Patch size -->
  <b>Patch size</b>: 
    <select name="ps">
<%
contents = ((1,'3 x 3'), (2,'5 x 5'), (3,'7 x 7'), (4,'9 x 9'), (5,'11 x 11'), (7,'15 x 15'), (10,'21 x 21'))

try:
   sel = int(ps)
except Exception:
   sel = 2
%>

%for i in range(len(contents)):
<%
  selectedStr = ('' if contents[i][0] != sel else ' selected="selected"')
%>
      <option value="${contents[i][0]}"${selectedStr}>${contents[i][1]}</option>
%endfor
    </select>
    <br/>

<!-- Tolerance -->
<!-- code for slider -->
<%
try:
   sel = float(t)
except Exception:
   sel = 0.1
%>
<div style="float:left;padding-right:25px">
    <b>Tolerance</b>: <input type="text" style="font-family:monospace;text-align:right"
    size="6" id="t" name="t" value="${sel}" />
</div>
<div id="t_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() {
      createLinkedSlider('#t', '#t_slider', 0.01, 0.5, 0.01); 
});
</script>
<div style="clear:both"> </div>
<!-- end of code for slider -->


<!-- Output size -->
  <b>Output image size</b>: 
    <select name="o">
<%
contents = ((32,'32 x 32'), (64,'64 x 64'), (128,'128 x 128'), (256,'256 x 256'))

try:
   sel = int(o)
except Exception:
   sel = 128
%>

%for i in range(len(contents)):
<%
  selectedStr = ('' if contents[i][0] != sel else ' selected="selected"')
%>
      <option value="${contents[i][0]}"${selectedStr}>${contents[i][1]}</option>
%endfor
    </select>
    <br/>


    <p>Run the <b>accelerated version</b> of Efros-Leung synthesis <input type="submit" name="action" value="run" /> <b>or</b> run the original Efros-Leung synthesis <input type="submit" name="action" value="run_orig" /> <p/>

    %if x0 and y0 and x1 and y1:
    <input type="hidden" name="x0" value="${x0}" />
    <input type="hidden" name="y0" value="${y0}" />
    <input type="hidden" name="x1" value="${x1}" />
    <input type="hidden" name="y1" value="${y1}" />
    <p>The algorithm will run on this selected subimage:</p>
    <img src="${app.work_url + 'input_selection.png'}" alt="" />
    %elif x0 and y0:
    <input type="hidden" name="x0" value="${x0}" />
    <input type="hidden" name="y0" value="${y0}" />
    <p>Please select the second corner of the subimage:</p>
    <p><input type="image" style="cursor:crosshair;" name=""
              src="${app.work_url + 'input_corner.png'}" /></p>
    %else:
    <p>Or you can run it after <b>selecting a subimage</b> by clicking two
      opposite corners of the image.</p>
    <p><input type="image" style="cursor:crosshair;" name=""
              src="${app.work_url + 'input_0.png'}" /></p>
    %endif

</form>


<%include file="footer.html" />
