<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />
// -->
</script>

<form action="${app.base_url + 'wait'}" method="get" style="padding:10px">

<fieldset style="padding-top:1.5ex">
<input type="hidden" name="key" value="${app.key}" />
   
    <div style="float:left; width:18em; text-align:right;">
Scale factor&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;"
size="7" id="scalefactor" name="scalefactor" value="${app.cfg['param']['scalefactor']}" />
</div>
<div id="slider1" style="width:24em; float:left; margin-left:1em; margin-top:4px; font-size:10pt;"></div>

<div style="clear:both; font-size:8pt">&nbsp;</div>

<script type="text/javascript">
$(document).ready(function() 
{
    createLinkedSlider('#scalefactor', '#slider1', 1, 8, 0.1);
});
</script>

<div style="clear:both;float:left;width:6em">Methods</div>
    
<div style="float:left;margin-right:1em;">
    %for m in app.methods:       # Generate the list of methods
        %if m['title'] in app.methodcolumnbreaks:
            </div><div style="float:left;margin-right:1em;">
        %endif

        %if str(app.cfg['param'][m['identifier']]) == 'True':
            <input type="checkbox" name="${m['identifier']}" id="${m['identifier']}" checked /><label for="${m['identifier']}">${m['title']}</label><br />
        %else:
            <input type="checkbox" name="${m['identifier']}" id="${m['identifier']}" /><label for="${m['identifier']}">${m['title']}</label><br />
        %endif
    %endfor
</div>
    
</fieldset>

<div style="clear:both; font-size:8pt">&nbsp;</div>

<p style="margin:0px"><a class="toggle" style="cursor:help" onclick="toggle('paramdetails');">Details</a></p>
<div style="display:none;border: #ccccff 1px solid;padding-left:1ex;padding-right:1ex" class="toggleable" id="paramdetails">
<p><b>&bull;&nbsp;Scale factor.</b> The dimensions of the interpolated image are determined by the scale factor.
For example, interpolation with scale factor of 4 increases a 100&times;100 image to 
400&times;400.  For non-integer scale factors, the dimension is rounded up.</p>

<p><b>&bull;&nbsp;The algorithm can run in two different ways:</b></p>

<div style="float:left; text-align:center; padding-bottom:15px; padding-left:50px; padding-right:50px">
    <img src="http://www.ipol.im/pub/algo/g_linear_methods_for_image_interpolation/demo-1.png" width="109" height="55"
        style="padding-bottom:25px" alt="" /><br />
    <i>${app.default_param['action']}</i>
</div>
<div style="float:left; text-align:center;">
    <img src="http://www.ipol.im/pub/algo/g_linear_methods_for_image_interpolation/demo-2.png" width="148" height="80" alt="" /><br />
    <i>Subsample, interpolate, and compare</i>
</div>

<p style="clear:both">&ldquo;${app.default_param['action']}&rdquo; directly interpolates the selected image.</p>

<p>With &ldquo;Subsample, interpolate, and compare,&rdquo; the image is downsampled to create the input image.  This image is then interpolated and compared with the original image.</p>

<p><b>&bull;&nbsp;Source code for this demo:</b> 
<a href="http://www.ipol.im/pub/algo/g_linear_methods_for_image_interpolation/src.zip">
zip</a>
<a href="http://www.ipol.im/pub/algo/g_linear_methods_for_image_interpolation/src.tar.gz">
tar.gz</a></p>
</div>

<p style="clear:both;margin-bottom:5px">You can run the algorithm in two different ways.</p>
<div style="float:left; text-align:center; padding-left:30px; padding-right:25px">
    <input type="submit" name="action" value="${app.default_param['action']}" />
</div>
<div style="float:left; text-align:center;">
    <input type="submit" name="action" value="Subsample, interpolate, and compare" />
</div>

<div style="clear:both; font-size:8pt">&nbsp;</div>

%if app.cfg['param']['x0'] == None or app.cfg['param']['y0'] == None:
    <p>Or you can run it after selecting a subimage by clicking two 
    opposite corners of the subimage.</p>
    <p><input type="image" style="cursor:crosshair;" name=""
        src="${app.work_url + 'input_0.png'}" /></p>
%elif app.cfg['param']['x'] == None or app.cfg['param']['y'] == None:
    <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
    <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
    <p>Please select the second corner of the subimage:</p>
    <p><input type="image" style="cursor:crosshair;" name=""
        src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" /></p>
%else:
    <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
    <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
    <input type="hidden" name="x" value="${app.cfg['param']['x']}" />
    <input type="hidden" name="y" value="${app.cfg['param']['y']}" />
    <p>The algorithm will run on this selected subimage:</p>
    <img src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" alt="" />
%endif

</form>

<%include file="footer.html" />
