<%include file="header.html" />

<p>
  You can choose 2 parameters for this algorithm: <i>a</i>
  and <i>b</i>.<br />
  The image will be transformed by the function <i>f(x) = ax + b</i>,
  and the result will be rounded, and bounded to <i>[0..255]</i>.
</p>

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    Set the algorithm parameters and run the algorithm.
    <input type="hidden" name="key" value="${app.key}">
    <label for="a"><i>a</i>:</label>
    <input type="text" name="a" value="1." size="4" />
    <label for="b"><i>b</i>:</label>
    <input type="text" name="b" value="0." size="4" />
    <input type="submit" value="run" />
  </div>
</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" /> 
</div>

<%include file="footer.html" />
