<%include file="header.html" />

<p>
You can choose 2 parameters for this algorithm: <i>a</i>
and <i>b</i>.<br />
The image will be transformed by the function <i>f(x) = ax + b</i>,
and the result will be rounded, and bounded to <i>[0..255]</i>.
</p>

<form action="${urld['next_step']}" method="get">
<fieldset> 
<p>
Algorithm Parameters
</p>
<input type="hidden" name="key" value="${key}">
<label for="a">value for <i>a</i>:</label>
<input type="text" name="a" value="1." size="5" /><br />
<label for="b">value for <i>b</i>:</label>
<input type="text" name="b" value="0." size="5" /><br />
<input type="submit" value="next step : run" />
</fieldset> 
</form>

<hr />

<div>
% for url in urld['input']:
<img src="${url}" alt="" /> 
% endfor
</div>

<%include file="footer.html" />
