<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />

$(document).ready(function()
{
    createLinkedSlider('#sigma', '#slider1', 0.5, 15, 0.1);
});

function selectall(s)
{
    %for name in app.algos:
        document.getElementById('${name}').checked = s;
    %endfor
}

// -->
</script>

<form action="${app.base_url + 'wait'}" method="get">

<fieldset>

<input type="hidden" name="key" value="${app.key}" />
\
<div>
    <div style="float:left">
        <i>&sigma;</i>, Gaussian standard deviation&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;"
        size="5" id="sigma" name="sigma" value="${app.cfg['param']['sigma']}" />
    </div>
    <div id="slider1" style="float:left; width:32em; margin-left:1em; margin-top:3pt; font-size:10pt;"></div>
</div>

<div style="clear:left;padding-top:1em">
    <div style="margin-right:1em; margin-bottom:1ex">
        Algorithm:&nbsp;&nbsp;
        <input type="button" value="all" onclick="selectall(true)" />
        <input type="button" value="none" onclick="selectall(false)" />
    </div>
    
    <%def name="algo_name_html(v)">
        %if '-' in v:
            ${dict([('box','Box'),('ebox','Extended box'),('sii','SII'),('am','Alvarez&ndash;Mazorra'),('deriche','Deriche'),('vyv','Vliet&ndash;Young&ndash;Verbeek')])[v.split('-')[0]]}, <i>K</i>=${v.split('-')[1]}
        %elif v == 'fir':
            FIR, <i>tol</i>=10<sup>&minus;2</sup>
        %elif v == 'dct':
            DCT
        %endif
    </%def>
    
    <div style="float:left;margin-left:5em;margin-right:3em">
        <div style="margin-bottom:4pt">
        %for i in range(len(app.algos)):
            %if app.algos[i] in app.cfg['param']['algo'].split():
            <input type="checkbox" name="algo" id="${app.algos[i]}" value="${app.algos[i]}" checked />
            %else:
            <input type="checkbox" name="algo" id="${app.algos[i]}" value="${app.algos[i]}" />
            %endif
            <label for="${app.algos[i]}"> ${algo_name_html(app.algos[i])}</label><br />
            %if i == 10:
        </div>
    </div>
    <div style="float:left">
        <div style="margin-bottom:4pt">
            %elif i < len(app.algos) - 1 and app.algos[i].split('-')[0] != app.algos[i + 1].split('-')[0]:
        </div>
        <div style="margin-bottom:4pt">
            %endif
        %endfor
        </div>
    </div>
</div>

</fieldset>

<div style="clear:both; font-size:8pt">&nbsp;</div>

    <p>Run the algorithm: <input type="submit" name="action" value="run" /><p/>

    %if app.cfg['param']['x0'] == None or app.cfg['param']['y0'] == None:
        <p>Or you can run it after selecting a subimage by clicking two
        opposite corners of the subimage.</p>
        <p><input type="image" style="cursor:crosshair;" name=""
            src="${app.work_url + 'input_0.png'}" /></p>
    %elif app.cfg['param']['x'] == None or app.cfg['param']['y'] == None:
        <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
        <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
        <p>Please select the second corner of the subimage:</p>
        <p><input type="image" style="cursor:crosshair;" name=""
            src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" /></p>
    %else:
        <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
        <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
        <input type="hidden" name="x" value="${app.cfg['param']['x']}" />
        <input type="hidden" name="y" value="${app.cfg['param']['y']}" />
        <p>The algorithm will run on this selected subimage:</p>
        <img src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" alt="" />
    %endif
</form>


<%include file="footer.html" />
