<%include file="header.html" />


<!-- code for slider (from Pascal Getreuer:  http://www.math.ucla.edu/~getreuer/jqslider.html -->
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" 
    rel="stylesheet" type="text/css" />
<script type="text/javascript" 
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" 
    src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">
<!--
// Create a JQueryUI slider linked with a text input 
//
// inputId      the ID of the text input element
// sliderId     the ID of the DIV element to turn into a slider
// sliderMin    minimum value of the slider
// sliderMax    maximum value of the slider
// sliderStep   resolution of the slider
// numDigits    (optional) number of digits to display
function createLinkedSlider(inputId, sliderId, 
    sliderMin, sliderMax, sliderStep, numDigits)
{
    var inputObj = $(inputId);
    // Create JQueryUI slider
    var sliderObj = $(sliderId).slider({
        value: inputObj.attr('value'),  // Initial value
        min: sliderMin,                 // Minimum value
        max: sliderMax,                 // Maximum value
        step: sliderStep,               // Resolution
        animate: 'fast'});              // Animation speed

    // If numDigits was not specified, infer from sliderStep.
    numDigits = numDigits || 
        Math.max(0, Math.ceil(-Math.log(sliderStep) / Math.log(10)));

    // Update slider when input changes
    inputObj.blur(function()
        {
            var value = inputObj.attr('value');
            var valueClamped = Math.min(Math.max(value, 
                sliderObj.slider('option', 'min')), 
                sliderObj.slider('option', 'max'));
            sliderObj.slider('value', valueClamped);

            if(value != valueClamped)
                inputObj.val(valueClamped.toFixed(numDigits));
        });

    // Update input when slider changes
    sliderObj.slider('option', 'slide',
        function(event, ui) { inputObj.val(ui.value.toFixed(numDigits)); });
}
// -->
</script>
<!-- end of code for slider -->

<p>
  You can now choose the parameters, and run the numerical schemes.
</p>

<form action="${app.base_url + 'grid'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
    <ol>
      <li>
	Select the normalized scale (at normalized scale R a disk of radius R
	disappears): 
<!-- code for slider (from Pascal Getreuer:  http://www.math.ucla.edu/~getreuer/jqslider.html -->
<p>
<!--
%if scale_r:
  <div style="float:left;padding-right:25px">
    Scale: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="scale" name="scaleR" value="${scale_r}" />
%else:
  <div style="float:left;padding-right:25px">
    Scale: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="scale" name="scaleR" value="1.0" />
%endif
-->
<% smax='1.0' %>
%if scale_r:
  <% smax=scale_r %>
  %if (step == '0') and (float(scale_r) > 8.0):
    <% smax='8.0' %>
  %endif
  %if (step == '200') and (float(scale_r) > 6.0):
    <% smax='6.0' %>
  %endif
  %if (step == '100') and (float(scale_r) > 3.0):
    <% smax='3.0' %>
  %endif
  %if (step == '80') and (float(scale_r) > 2.0):
    <% smax='2.0' %>
  %endif
  %if (step == '50') and (float(scale_r) > 1.5):
    <% smax='1.5' %>
  %endif
%endif

<div style="float:left;padding-right:25px">
 Scale: <input type="text" style="font-family:monospace;text-align:right"
 size="7" id="scale" name="scaleR" value="${smax}" />

</div>
<div id="slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
%if step == '0':
  $(document).ready(function() 
    { createLinkedSlider('#scale', '#slider', 0.1, 8, 0.1); });
%endif
%if step == '200':
  $(document).ready(function() 
    { createLinkedSlider('#scale', '#slider', 0.1, 6, 0.1); });
%endif
%if step == '100':
  $(document).ready(function() 
    { createLinkedSlider('#scale', '#slider', 0.1, 3, 0.1); });
%endif
%if step == '80':
  $(document).ready(function() 
    { createLinkedSlider('#scale', '#slider', 0.1, 2, 0.1); });
%endif
%if step == '50':
  $(document).ready(function() 
    { createLinkedSlider('#scale', '#slider', 0.1, 1.5, 0.1); });
%endif
</script>
<div style="clear:both"> </div>
</p>
<!-- end of code for slider -->
      </li>
      <li>
	Run the algorithm...
	<ul>
	  <li>
	    on the whole image:
	    <input type="submit" name="action" value="run" />
	  </li>
	  <li>
	    or select a portion of the image using a grid (such a
	    portion will be rescaled to 400x400 pixels before processing):
	    <ol>
	      <li>
		redraw the grid with a different step size: 
		<select name="stepG">
		%if step == '0':
		  <option value="0" selected>no grid (zoom 1x)</option>
		%else:
		  <option value="0">no grid (zoom 1x)</option>
		%endif
		%if step == '50':
		  <option value="50" selected>50 (zoom 8x)</option>
		%else:
		  <option value="50">50 (zoom 8x)</option>
		%endif
		%if step == '80':
		  <option value="80" selected>80 (zoom 5x)</option>
		%else:
		  <option value="80">80 (zoom 5x)</option>
		%endif
		%if step == '100':
		  <option value="100" selected>100 (zoom 4x)</option>
		%else:
		  <option value="100">100 (zoom 4x)</option>
		%endif
		%if step == '200':
		  <option value="200" selected>200 (zoom 2x)</option>
		%else:
		  <option value="200">200 (zoom 2x)</option>
		%endif
		</select>
		<input type="submit" name="action" value="redraw" />
	      </li>
	      <li>
		and select the portion of the image by clicking:<br />
		%if grid:
		<input type="image" name=""
		       src="${app.work_url + 'input_grid.png'}" />
		%else:
		<img src="${app.work_url + 'input_0.png'}" />
		%endif
	      </li>
	    </ol>
	  </li>
	</ul>
      </li>
    </ol>
  </div>
</form>

<%include file="footer.html" />
