<%include file="header.html" />

<p> 
The algorithm runs in 2 steps:
<ol>
<li> a Bayer pattern mosaic is extracted from the input image;</li>
<li> the demosaicking algorithm is used to reconstruct the original
  image.</li> 
</ol>
</p> 

<form action="${app.base_url + 'wait'}" method="get">
    <input type="hidden" name="key" value="${app.key}" />    
    <p>Mosaicing pattern:
    RGGB <img src="http://www.ipol.im/pub/algo/bcms_self_similarity_driven_demosaicking/bayer_RGGB.png" />,
    GRBG <img src="http://www.ipol.im/pub/algo/bcms_self_similarity_driven_demosaicking/bayer_GRBG.png" />,
    GBRG <img src="http://www.ipol.im/pub/algo/bcms_self_similarity_driven_demosaicking/bayer_GBRG.png" />,
    BGGR <img src="http://www.ipol.im/pub/algo/bcms_self_similarity_driven_demosaicking/bayer_BGGR.png" />
    &nbsp;
    <select name="pattern">
    %for p in ['RGGB', 'GRBG', 'GBRG', 'BGGR']:
        %if app.cfg['param']['pattern'] == p:
            <option value="${p}" selected>${p}</option>
        %else:
            <option value="${p}">${p}</option>
        %endif
    %endfor
    </select>
    </p>

    <p>Run the algorithm: <input type="submit" name="action" value="run" /><p/>

    %if app.cfg['param']['x0'] == None or app.cfg['param']['y0'] == None:
        <p>Or you can run it after selecting a subimage by clicking two 
        opposite corners of the subimage.</p>
        <p><input type="image" style="cursor:crosshair;" name=""
            src="${app.work_url + 'input_0.png'}" /></p>
    %elif app.cfg['param']['x'] == None or app.cfg['param']['y'] == None:
        <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
        <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
        <p>Please select the second corner of the subimage:</p>
        <p><input type="image" style="cursor:crosshair;" name=""
            src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" /></p>
    %else:
        <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
        <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
        <input type="hidden" name="x" value="${app.cfg['param']['x']}" />
        <input type="hidden" name="y" value="${app.cfg['param']['y']}" />
        <p>The algorithm will run on this selected subimage:</p>
        <img src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" alt="" />
    %endif
</form>


<%include file="footer.html" />
