.crosslinks li {
    display: inline; }

.note {
    font-size: 80%; }

.warning {
    background: none;
    border: none;
    color: #990000; }

/***** forms ****/

form div.select_input {
    float: left; }

form div.select_input,
form div.upload_input {
    margin: .5em;
    padding: .5em;
    border: #ccccff 1px dotted; }

form div.select_input .label {
    display: block; }

form fieldset {
    border: #ccccff 1px solid; }

form label {
    cursor: pointer; }



/*
input[type="file"] {
    display: inline;
    width: 100%; }
*/


/*
form#submission p {
    margin: 0; }

form#submission input[type="text"],
form#submission textarea {
    font-size: 100%;
    width: 75%; }

form#submission label.label,
form#submission span.label {
    display: block;
    float: left;
    width: 20%;
    text-align: right;
    margin-right: .5em;}

form#submission div.scroll {
    height: 8em;
    overflow: auto;
    width: 77.5%;
    margin: .2em 0; }

form#submission div.scroll input[type="text"] {
    width: 50%; }

form#submission div.multicolumn {
    float: left;
    margin-right: .5em; }

form#submission div.multicolumn label {
    cursor: pointer; }

*/