<%include file="header.html" />


<%include file="input_form_upload.html" />


<hr/>
<!-- EXAMPLES (from index.cfg) -->
<h3>Use an example </h3>
<p>Click on an image to use the corresponding point set</p>
<p><b>Notice that for visualization reasons, all point clouds are normalized (scaled so that their maximum length is 1).</b>
</p>

 %for id in sorted(inputd.keys()):
%if id!="blank":
<div style="vertical-align:top; width:204px; overflow:auto; float:left">

<form action="input_select" method="get">
  <input type="hidden" name="id" value="${id}" />
  <input type="image" src="input/${inputd[id]['img']}" width="200" style="border:1px solid"  />
</form>
<p  style="text-align:center">
${inputd[id]['title']}
</p>
<p  style="text-align:center">
${inputd[id]['npoints']} points
</p>
<!--<p style="text-align:center">
Size (in mm) : ${inputd[id]['size']}
</p>-->
<p  style="text-align:center">
Recommended radii:
</p>
<p  style="text-align:center">
${'; '.join(str(i) for i in eval(inputd[id]['radii']))}
</p>
</div>
%endif
%endfor


<%include file="footer.html" />
