      .clickable_td{
      background:#DDD;
      cursor:pointer;
      width:100px;
      height:50px;
      
      }

      .clickable_td:hover{
      background:#BBB
      }

      .selected_td{
      width:100px;
      height:50px;
      background:#888;
}

