<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />

function spritecoords(s)
{
    var n = Math.max(Math.round(parseFloat(s)*2) - 2, 0);
    return '0px ' + (-148*n) + 'px';
}

$(document).ready(function() 
{
    createLinkedSlider('#alpha', '#slider1', 1, 8, 0.5);
    
    $('#slopepreview').css('height', '148px');
    $('#slopepreview').css('background-image', 
        'url(\'http://dev.ipol.im/~getreuer/images/ace-slopes.png\')');
    $('#slopepreview').css('background-position', 
                spritecoords($('#alpha').attr('value')));
    
    // Update slope preview image with alpha slider
    $('#alpha').blur(function()
        {
            var value = $('#alpha').attr('value');
            var valueClamped = Math.min(Math.max(value, 
                $('#slider1').slider('option', 'min')), 
                $('#slider1').slider('option', 'max'));
            $('#slider1').slider('value', valueClamped);
            $('#slopepreview').css('background-position', 
                spritecoords(valueClamped));

            if(value != valueClamped)
                $('#alpha').val(valueClamped.toFixed(numDigits));
        });
    $('#slider1').slider('option', 'slide',
        function(event, ui) { 
            $('#alpha').val(ui.value.toFixed(1)); 
            $('#slopepreview').css('background-position', 
                spritecoords(ui.value));
        });
});

// -->
</script>

<form action="${app.base_url + 'wait'}" method="get">

<fieldset>

<input type="hidden" name="key" value="${app.key}" />
<div style="float:left; width:16em; text-align:right;">
&alpha;, enhancement strength&nbsp;&nbsp;<input type="text" style="font-family:monospace; text-align:right;"
size="7" id="alpha" name="alpha" value="${app.cfg['param']['alpha']}" /> <br />
<div id="slider1" style="width:16em; margin-top:4px; margin-left:1em; font-size:10pt;"></div>
</div>
<div style="
float:left; width:237px; margin-left:2em; text-align:center">
<div id="slopepreview" name="slopepreview" style="width:237px;"></div>
<div style="font-size:85%"><i>Slope function</i></div></div>

</fieldset>

<div style="clear:both; font-size:8pt">&nbsp;</div>

    <p>Run the algorithm: <input type="submit" name="action" value="run" /><p/>

    %if app.cfg['param']['x0'] == None or app.cfg['param']['y0'] == None:
        <p>Or you can run it after selecting a subimage by clicking two 
        opposite corners of the subimage.</p>
        <p><input type="image" style="cursor:crosshair;" name=""
            src="${app.work_url + 'input_0.png'}" /></p>
    %elif app.cfg['param']['x'] == None or app.cfg['param']['y'] == None:
        <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
        <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
        <p>Please select the second corner of the subimage:</p>
        <p><input type="image" style="cursor:crosshair;" name=""
            src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" /></p>
    %else:
        <input type="hidden" name="x0" value="${app.cfg['param']['x0']}" />
        <input type="hidden" name="y0" value="${app.cfg['param']['y0']}" />
        <input type="hidden" name="x" value="${app.cfg['param']['x']}" />
        <input type="hidden" name="y" value="${app.cfg['param']['y']}" />
        <p>The algorithm will run on this selected subimage:</p>
        <img src="${app.work_url + 'input_0_sel.png'}?${app.timestamp}" alt="" />
    %endif
</form>


<%include file="footer.html" />
