.crosslinks li {
    display: inline; }

.note {
    font-size: 80%; }

.warning {
    border: #990000 1px solid;
    background: none;
    color: #990000; }

/***** forms ****/

form div.select_input {
    float: left; }

form div.select_input,
form div.upload_input {
    margin: .2em;
    padding: .2em;
    border: #ccccff 1px dotted; }

form .select_input .label {
    display: block;
    text-align: center; }

form fieldset {
    border: #ccccff 1px solid; }

form label {
    cursor: pointer; }
