<%include file="header-jquery.html" />
<%include file="css_style.html" />

<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>

<form action="${app.base_url + 'wait'}" method="get">
<%include file="param_tab.html" />

<input type="hidden" name="key" value="${app.key}">
<p>Run the algorithms: <input type="submit" name="action" value="run" /><p/>
</form>

<div style="clear:both; font-size:8pt">&nbsp;</div>

<p><input type="image"  name="" src="${app.work_url + 'input_0.png'}" /></p>
<%include file="footer.html" />
