<%include file="header.html" />

<p>

We provide an implementation for three models: <font color="blue"> <i>StraightLine</i> </font>, <font color="blue"><i>Circle</i></font>, <font color="blue"><i>Conic</i></font>.
You can specify which model is used for the decomposition.

</p>

<p><form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    <font color=blue>Model</font> for the decomposition:
    <input type="hidden" name="key" value="${app.key}">
    <SELECT name="typeprimitive">
      <OPTION>StraightLine</OPTION>
      <OPTION>Circle</OPTION>
      <OPTION>Conic</OPTION>
    </SELECT>

</p>
<p>
    Use black background: <input type="checkbox" name="b" value="on" size="4" />
</p>


    <input type="submit" value="run" />
  </div>
</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" />
</div>

<%include file="footer.html" />
