

%if inputd:
<form action="${app.base_url + 'input_select'}" method="get">
<fieldset> 
<legend>Select Data</legend> 
<p>
Click on an image to use it as the algorithm input.
</p>
<div style="max-height:30em; overflow:auto;">
%for id in sorted(inputd.keys()):
<div class="select_input">
%for url in inputd[id]['tn_url']:
  <input type="image" name="${id | h}"
	 width="${tn_size}" height="${tn_size}"
         src="${url}" alt="${inputd[id]['title'] | h}"/>
%endfor
  <span class="label">${inputd[id]['title'] | h}</span>
</div>
%endfor
</div>


%if cr_size:

<p><small><a href="#credits" onclick="toggle('credits');">Credits</a></small></p>

<div id="credits" style="display:none"> 

		<p><small>
		%for id in sorted(inputd.keys()):
			<a href="${inputd[id]['href_url'][0]}"><img width="${cr_size}" height="${cr_size}" src="${inputd[id]['cr_url'][0]}" /></a>
  			<span class="label">${inputd[id]['credits']}</span>
			<br/>
%endfor
		</small></p>

</div>

%endif


</fieldset>
</form>
%endif

