<%include file="header-jquery.html" />

<script type="text/javascript">
<!--
<%include file="js/createlinkedslider.js" />
// -->
</script>


<h2>Algorithm Parameters</h2>

<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">

<!-- code for slider (from Pascal Getreuer:  http://www.math.ucla.edu/~getreuer/jqslider.html -->
  <div style="float:left;padding-right:25px">
    T: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="T_selector" name="T" value="${T}" />
</div>
<div id="sliderT" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#T_selector', '#sliderT', 0, 255, 1); });
</script>
<div style="clear:both"> </div>

  <div style="float:left;padding-right:25px">
    a: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="a_selector" name="a" value="${a}" />
</div>
<div id="slider_a" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#a_selector', '#slider_a', 0.1, 10.0, 0.1); });
</script>
<div style="clear:both"> </div>
                      
                      
  <div style="float:left;padding-right:25px">
    alpha: <input type="text" style="font-family:monospace;text-align:right"
    size="7" id="alpha_selector" name="alpha" value="${alpha}" />
</div>
<div id="slider_alpha" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
<script type="text/javascript">
// Turn DIV slider into a slider linked to scale
$(document).ready(function() 
    { createLinkedSlider('#alpha_selector', '#slider_alpha', 0.1, 3.0, 0.1); });
</script>
<div style="clear:both"> </div>

<!-- end of code for slider -->


    <input type="submit" value="run" />
  </div>
</form>

<h2>Input Image</h2>

<img src="${app.work_url + 'input_0.png'}" alt="" /> 

<%include file="footer.html" />
