<%include file="header.html" />

%if 'disp_min_base' in app.cfg['param']:
The estimated disparity range is
${app.cfg['param']['disp_min_base']}, ${app.cfg['param']['disp_max_base']}.
<form action="${app.base_url + 'wait'}" method="get">
  If you want to increase this interval, choose the factor.
  <div class="action">
    <input type="hidden" name="key" value="${app.key}" />
    <select name="percent">
      %for _p in [100,120,150,200]:
      <option value="${_p}">${_p} %</option>
      %endfor
      <option value="0">unrestricted</option>
    </select>
    <input type="submit" value="run" />
  </div>
</form>
%else:
<form action="${app.base_url + 'wait'}" method="get">
  <div class="action">
    You can now run the stereo pipeline.
    <input type="hidden" name="key" value="${app.key}">
    <input type="submit" value="run" /> <br />
    If you know the images are already rectified and you want to skip the rectification step, click below: <br />
    <input type="checkbox" name="norectif" value="norectif" /> No epipolar rectification
  </div>
</form>
%endif

<h2>input images</h2>
<div class="gallery" style="height: 1024px;">
  <ul class="index">
    <li>
      <a href="#">
	first image
	<span>
	  <img src="${app.work_url + 'input_0.png'}" />
	</span>
      </a>
    </li>
    <li>
      <a href="#">
	second image
	<span>
	  <img src="${app.work_url + 'input_1.png'}" />
	</span>
      </a>
    </li>
  </ul>
</div>

<%include file="footer.html" />
