<%include file="header.html" />

<p>
  You can now choose the parameters, and run the numerical schemes.
</p>

<form action="${app.base_url + 'grid'}" method="get">
  <div class="action">
    <input type="hidden" name="key" value="${app.key}">
    <ol>

	<li>
	  </br>
	<label for="time_step"><i>Select time step dt</i>:</label>
	<input type="text" name="time_step" value="0.5" size="8" />
      </li>

	<li>
	  </br>
	<label for="rain"><i>Select rain parameter r</i>:</label>
	<input type="text" name="rain" value="0.00001" size="8" />
      </li>



	<li>
	  </br>
	<label for="expm"><i>Select erosion exponent m</i>:</label>
	<input type="text" name="expm" value="1" size="3" />
      </li>


	<li>
	  </br>
	<label for="erosione"><i>Select erosion parameter e</i>:</label>
	<input type="text" name="erosione" value="0.001" size="6" />
      </li>


	<li>
	  </br>
	<label for="erosioncreep"><i>Select creep parameter c</i>:</label>
	<input type="text" name="erosioncreep" value="0" size="6" />
      </li>


	<li>
	  </br>
	<label for="erosions"><i>Select sedimentation parameter s</i>:</label>
	<input type="text" name="erosions" value="0" size="6" />
      </li>



	<li>
	  </br>
	  Select parameters for running water only <br>
	<label for="maxvarwater"><i>Select stopping criteria for
	    estimating water steady state</i>:</label>
	<input type="text" name="maxvarwater" value="0.00001" size="8" />
	<br>
	<label for="iterationw"><i>Select maximum number of iterations
	    for running water after which we stop whatsoever</i>:</label>
	<input type="text" name="iterationw" value="400000" size="8" />
      </li>


	  <li>
	  </br>
	<label for="iteration"><i>Select number of iterations</i>:</label>
	<input type="text" name="iteration" value="1000" size="8" />
      </li>

	<li>
	  </br>
	<label for="waterlandcst"><i>Select level of ocean condition</i>:</label>
	<input type="text" name="waterlandcst" value="0.001" size="8" />
      </li>


      <li>
	Run the algorithm...
	<ul>
	  <li>
	    on the whole image:
	    <input type="submit" name="action" value="run" />
	  </li>
	  <li>
	    or select a portion of the image using a grid (such a
	    portion will be rescaled to 400x400 pixels before processing):
	    <ol>
	      <li>
		redraw the grid with a different step size:
		<select name="step">
		  <option value="0" selected>no grid (zoom 1x)</option>
		  <option value="50">50 (zoom 8x)</option>
		  <option value="80">80 (zoom 5x)</option>
		  <option value="100">100 (zoom 4x)</option>
		  <option value="200">200 (zoom 2x)</option>
		</select>
		<input type="submit" name="action" value="redraw" />
	      </li>
	      <li>
		and select the portion of the image by clicking:<br />
		%if grid:
		<input type="hidden" name="grid_step" value="${step}">
		<input type="image" name=""
		       src="${app.work_url + 'input_grid.png?step=%i' % step}" />
		%else:
		<img src="${app.work_url + 'input_0.png'}" />
		%endif
	      </li>
	    </ol>
	  </li>
	</ul>
      </li>
    </ol>
  </div>
</form>

<%include file="footer.html" />
